

@font-face {
  font-family: 'SEGOEUI';
  src: url('SEGOEUI.TTF') format('truetype'); /* Adjust the path if necessary */
  font-weight: normal; /* Specify the weight if needed */
  font-style: normal; /* Specify the style if needed */
}
      body, html {
          margin: 0;
          padding: 0;
          height: 100%;
          font-family: tahoma;
      }


      
/* tomiwa's */
.login-section{
  width: 100%;
  height: 100vh; /* Using viewport height for full-screen height */
  background-color: #2a57d7;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

.cube {
  position: absolute;
  font-size: 26px; /* Adjust size as necessary */
  color: #2a57d7;; /* Change color as desired */
  transform-origin: center;
 text-shadow:#2a57d7;
  animation: swing 7s linear infinite;
}

.cube:nth-child(1) { left: 45vw; top: 80vh; }
.cube:nth-child(2) { left: 25vw; top: 40vh; }
.cube:nth-child(3) { left: 5vw; top: 2vh; }
.cube:nth-child(4) { left: 40vw; top: 10vh; }
.cube:nth-child(5) { left: 10vw; top: 85vh; }

@keyframes rotate {
  from { transform: rotate(0deg) translate(-50%, -50%); }
  to { transform: rotate(360deg) translate(-50%, -50%); }
}
.cube_admin {
  position: absolute;
  font-size: 26px; /* Adjust size as necessary */
  color: #ffffff;; /* Change color as desired */
  transform-origin: center;
 text-shadow:#2a57d7;
  animation: fadeIn 6s linear infinite;
}
.cube_admin:nth-child(1) { left: 45vw; top: 80vh; }
.cube_admin:nth-child(2) { left: 25vw; top: 40vh; }
.cube_admin:nth-child(3) { left: 5vw; top: 2vh; }
.cube_admin:nth-child(4) { left: 40vw; top: 10vh; }
.cube_admin:nth-child(5) { left: 10vw; top: 85vh; }

h3{
  animation: slideInDown 0.5s ease-in-out;
}
._staff_login{
  height: 100%;
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center; 
  animation: fadeIn 1s ease-in-out;
  position: relative;
  align-items: center;;
}
.staff_container{
  width: auto;
  height: auto;
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
._staff_contents{
  width: 350px;
  height: auto;
  justify-content: center;
  display: flex;
  position: relative;
  color: #2a57d7;;;
  text-align: center;
  flex-direction: column;
}
.admin_section{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center; 
  position: relative;
  align-items: center;;
  animation: fadeIn 1s ease-in-out;
}
.admin_container{
  width: auto;
  height: auto;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
._admin_contents{
  width: 350px;
  height: auto;
  justify-content: center;
  display: flex;
  position: relative;
  color: #2a57d7;;;
  text-align: center;
  flex-direction: column;
}
   /*  tomiwa's  */
    
   .login-section .fill-form-div{
    width: 100%;
  }
  
  .login-section .fill-form-div .login-div{
    display: none;
  }
  
  .login-section .fill-form-div #next_1{
     display: block;
  
  } 
  
/*Doctor Login*/
.doctor-login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 1rem;
    height: fit-content;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: fadeIn 1s ease-in-out;
}
/*Nurse Login*/
.nurse-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}

/*Radiologist*/
.radiologist-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}


/*Receptioninst Login*/
.recep-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}

/*Lab Login*/
.lab-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}

/*Staff Manager Login*/
.staff_manager-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}

/*Martanity Login*/
.martanity-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}
/*Account Manager Login*/
.account_manager-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}
/*Surgical Suite Manager Login*/
.surgical_suite_manager-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}
/*Emergency Manager Login*/
.emergency_manager-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}
/*Pharmacist Login*/
.pharmacist-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}
/*Morgue Manager Login*/
.morgue_manager-login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 1rem;
  height: fit-content;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 13;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fadeIn 1s ease-in-out;
}



form{
  display: flex;
  justify-content: left;
  align-items:flex-start;
  text-align: left;
  flex-direction: column;
}
.close{
  position: absolute;
  right: 2%;
  font-size: 20px;
  cursor: pointer;
}
._form_control{
  width: 100%;
  margin: 1em 0;
  display: flex;
  animation: slideInDown 0.5s ease-in-out;
  position: relative;
  flex-direction: column;
}
._form_control i{
  position: absolute;
  top: 50%;
  padding: 0 1rem;
}
._form_control .show_password{
  right: 0;
  cursor: pointer;
}
._form_control .lock_password{
  right: 0;
  cursor: pointer;
}
label{
  font-size: 1.2rem;
    color: rgb(42, 87, 215);
}
input{
  text-indent: 14px;
}
select{
  cursor: pointer;
}

input, select,textarea {
  padding: 12px 20px;
  background-color: #fff;
  margin: 8px 0;
  font-size: 1.1rem;
  color: rgb(42, 87, 215);
  width:auto;
  display: inline-block;
  border: 1px solid rgb(42, 87, 215);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(42, 87, 215);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(42, 87, 215);
}

._fingerprint_authentication{
  text-align: right;
  width: 100%;
  display: flex;;
  align-items: center;
  justify-content: right;;
  animation: slideInDown 0.5s ease-in-out;
  height: 30px;
}
._fingerprint_authentication span{
  cursor: pointer;
  color: #2a57d7;;
}
._fingerprint_authentication i{
  cursor: pointer;
  font-size: 25px;
  color: #2a57d7;;
}
.btn{
  width: 100%;
  background-color: #2a57d7;
  border: none;
  padding: 0.8em;
  border-radius: 3px;
  margin: 1em 0;
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  animation: slideInDown 0.5s ease-in-out;
}
.btn:hover{
  background: none;
  border: 1px solid #2a57d7;
  color: #2a57d7;
}
._alert_div{
  width: auto;
  height: auto;
  max-width: 350px;
  position: absolute;
  right: 0.5%;
  border-radius: 3px;
  padding: 1em;
  color: #fff;
  box-shadow: rgba(218, 216, 216, 0.35) 0px 5px 15px;
  top:0.5%;
  background-color: green;
  z-index: 20;
  animation: zoomIn 0.5s ease-in-out;
}
.admin_alert{
  width: auto;
  height: auto;
  max-width: 350px;
  position: absolute;
  right: 0.5%;
  border-radius: 3px;
  padding: 1em;
  color: #2a57d7;
  box-shadow: rgba(218, 216, 216, 0.35) 0px 5px 15px;
  top:0.5%;
  background-color: #ffffff;
  animation: zoomIn 0.5s ease-in-out;
}
.vf{
    color: #fff;
    background-color: red;
    animation: headShake 1s ease-in-out;
}

@media screen and (max-width:1100px){
  .login-section {
    width: 100%;
    height: 100vh; /* Using viewport height for full-screen height */
    background-color: #2a57d7;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}
._staff_login{
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center; 
  position: relative;
  align-items: center;;
}
.admin_section{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  position: relative;
  align-items: center;;
}
.cube:nth-child(1) { left: 60vw; top: 20vh; }
.cube:nth-child(2) { left: 13vw; top: 30vh; }
.cube:nth-child(3) { left: 85vw; top: 45vh; }
.cube:nth-child(4) { left:30vw; top: 41vh; }
.cube:nth-child(5) { left: 33vw; top: 5vh; }

@keyframes rotate {
  from { transform: rotate(0deg) translate(-50%, -50%); }
  to { transform: rotate(360deg) translate(-50%, -50%); }
}

.cube_admin:nth-child(1) { left: 60vw; top: 20vh; }
.cube_admin:nth-child(2) { left: 13vw; top: 30vh; }
.cube_admin:nth-child(3) { left: 85vw; top: 45vh; }
.cube_admin:nth-child(4) { left:30vw; top: 41vh; }
.cube_admin:nth-child(5) { left: 33vw; top: 5vh; }

}
.hide{
  display: none;
}
.hidden{
  display: none;
}