
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-image:url(../Frontend/Images/shutterstock_2122167485.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  #preloader{
    background: black url(../Frontend/Images/0_QdX-f4eHiimvQZoZ.gif)no-repeat center center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2000;
  }

  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 61, 60, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
    z-index: 1000;
  }

  .loading-content {
    text-align: center;
  }

  /* Hide loading overlay when content is loaded */
  body.loaded .loading-overlay {
    opacity: 0;
    visibility: hidden;
  }

  .content-container {
    overflow: hidden;
    width: 0;
    transition: width 2s;
    transition-delay: 3.8s;
  }

  .loaded .content-container {
    width: 100%;
  }

  /* Your page content styles go here */
  .page-content {
    width: 0;
    transition: width 1s;
    width: 100%;
  }

.index-container{
    background-image:linear-gradient(rgb(0,0,0,0.4)50%, rgb(0,0,0,0.4)50%), url(../frontend/Images/shutterstock_1189798159.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0.5rem;
    flex-direction: row;
    border-bottom: 1px solid #fff;
} 
h1{
    color: #fff;
    font-size: 2rem; 
}

.btn-doctor, .btn-nurse, .btn-receptionist,.btn-lab{
   background:none;
    border: 4px solid  #fff;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 0.6rem;
    cursor: pointer;
    margin: 1rem 0;
    transition:all ease-in-out 1s;
}

.btn-doctor:hover{
  background-color:rgb(255, 255, 255);
  color: #000000;
}
.btn-nurse:hover{
  background-color:rgb(255, 255, 255);
  color: #000000;
}
.btn-receptionist:hover{
  background-color:rgb(255, 255, 255);
  color: #000000;
}
.btn-lab:hover{
  background-color:rgb(255, 255, 255);
  color: #000000;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    opacity: 88%;
}
main{
    width: 100%;
    height: 500px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
}
.login-container{
   width: 100%;
   margin-top: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.flexs-container{
width: 100%;
}
.sections-container{
    display: flex !important;
    flex-direction: column;
    margin: 0.5rem 1rem;
}
h2, p{
    color: #fff;
    font-size: 16px;
}
/*Doctor Login*/
.doctor-login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 1rem;
    height: 380px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
/*Nurse Login*/
.nurse-login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 1rem;
    height: 380px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}


/*Receptioninst Login*/
.recep-login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 1rem;
    height: 380px;    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

/*Lab Login*/
.lab-login{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 1rem;
    height: 380px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.hidden{
    display: none;
}

.login-form-h1{
    color: rgba(0, 61, 60, 0.9);
    font-size: 1.4rem;
    padding: 1rem 0;
    text-align: center;
    font-weight:bolder;
}
.form-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-bottom: 20px; */
    position: relative;
    margin: 1rem 0;
    color: rgba(0, 61, 60, 0.9);
}
  i{
    position: absolute;
    left: 5px;
    top: 63%;
    transform: translateY(-50%);
  }
.form-control input{
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 61, 60, 0.9);
    text-indent: 25px;
    font-size:1.1rem;
}
.form-control input:focus{
    padding: 12px 0;
    text-indent: 25px;
    font-size:1.1rem;
    border-color: rgba(0, 61, 60, 0.9);
}
.btn{
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color:rgba(0, 61, 60, 0.9);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.btn:active{
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color: #00000000;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transform: scale(1.3);
}

.btn:hover{
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color:rgb(0, 0, 0);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out;
    transition: 2s;
}