*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    width: 100%;
    min-height:100vh;
    background-image: url(../Images/19374.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    top: 0;
    background-color: #0057c2;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section1{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: zoomIn 1s ease-in-out;
    align-items: center;
}
#back-arrow{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
#back-arrow_to_home{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.section2{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: zoomIn 1s ease-in-out;
    justify-content: space-around;
    align-items: center;
}
.icons{
    color: #fff;
    font-size: 30px;
    width: 150px;
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100%;
}
#icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
#icon-drop{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.notification1{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.notification2{
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.profile{
    width: 50%;
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
.profile_account{
    width: 300px;
    position: absolute;
    height: fit-content;
    top: 100%;
    animation: zoomIn 01s ease-in-out;
    right: 2%;
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile span{
    font-size: 17px;
}

#image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    border: none;
    color: rgb(42, 87, 215);
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 2px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}

.profile img{
    width: 50px;
    margin: 0 0.8rem;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.profile .active_on{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    border: none;
    background-color: #fff;
    margin: 0 7rem;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}


.sidebar{
    width: 75px;
    height: fit-content;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1000;
}
.sidebar_contents{
    justify-content: center;
    display: flex;
    align-items: center;
   color: #fff;
   height: 75px;
   cursor: pointer;
   text-align: center;
   border-bottom: 2px solid rgba(255, 255, 255);
}
.sidebar_icons{
    width: 100%;
    animation: zoomIn 01s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.sidebar_icons #icon{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 1rem 0;
}



.contents{
    width: 100%;
    height: 100vh;
    background-image: url(../Images/26836.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button_container{
    width:80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#btn_sections{
    background: none;
    border: 4px solid #fff;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    padding: 0.6rem;
    cursor: pointer;
    margin: 1rem 1rem;
    transition: all ease-in-out 0.5s;
    animation: zoomIn 01s ease-in-out;
}
#btn_sections:hover{
    background-color: rgb(0, 158, 251);
    padding: 0.6rem;
    cursor: pointer;
    margin: 1rem 1rem;
    transform: translate(1.3);
    color: #fff;
}

/*APPOITMENT */
.appiontment_booking_container{
    width: 60%;
    height: fit-content;
}
.head_sec{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 1rem;
    align-items: center;
}
.head_sec span{
    font-size: 17px;
}
.appoitment_input_control{
    position: relative;
    width: 200px;
}
.appoitment_input{
    padding: 0.5rem 0.5rem;
    outline: none;
    border: none;
    background-color: #fff;
}
.appoitment_input:focus{
    border: 2px solid rgb(42, 87, 215);
}
#search_icon{
    position: absolute;
    right: 20%;
    top: 28%;
}
.table_container{
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
}
.table_container table{
    width: 100%;
    border-collapse: collapse;
}

.table_container table thead td{
    background-color: rgb(42, 87, 215);;
    padding: 1rem;
    color: #fff;
}
.table_container table tbody{
    margin: 1rem 0;
}
.table_container table tbody td{
    background-color: rgb(0, 0, 0);;
    padding: 1rem;
    margin: 1rem 0;
    color: #fff;
}

.table_container #accept_button{
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.table_container #accept_button:hover{
    color: #fff;
    background: none;
}
.table_container #reject_button{
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.table_container #reject_button:hover{
    color: #fff;
    background: none;
}

#cancel_appoitment{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

/*LAB INPUT*/
.lab_input{
    width: 1000px;
    margin: 5rem auto;
}
.lab_container{
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 0 auto;
    box-shadow: rgba(55, 54, 54, 0.35) 0px 5px 15px;
    background-color: rgb(42, 87, 215);;
}
span{
    font-size: 20px;
}
.clinical_chemistry, .immunoassay,.thyroid, .tumor, .blood, .food, .microbiology,.histopathology,.haematology{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
#open_id_1, #close_id_1,
#open_id_2, #close_id_2,
#open_id_3, #close_id_3,
#open_id_4, #close_id_4,
#open_id_5, #close_id_5,
#open_id_6, #close_id_6,
#open_id_7, #close_id_7,
#open_id_8, #close_id_8,
#open_id_9, #close_id_9{
    color: #fff;
    font-size: 20px;
}
#close_id_1, #close_id_2, #close_id_3, #close_id_4,  #close_id_5, #close_id_6, #close_id_7, #close_id_8, #close_id_9{
    display: none;
}
.form1,.form2, .form3, .form4, .form5, .form6,.form7,.form8,.form9{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    animation: fadeInUp 0.5s ease-in-out;
}
.form_control{
    width: 300px;
    color: #fff;
    font-size: 18px;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
}
#btn{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 1rem;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}
#btn:hover{
    background:none;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
}
.upload_container{
    width: 100%;
    background-color: #fff;
    border: 8px solid rgb(97, 139, 255);;
    cursor: pointer;
    padding: 2rem;
}
.labouratory_examination .upload{
    color: #fff;
    font-size: 23px;
}
.labouratory_examination  #file_upload{
    color: #ffffff;
    padding: 0.5rem;
    background-color: rgb(42, 87, 215);
    font-size: 20px;
    border: 2px solid rgb(42, 87, 215);
}
.hidden{
    display: none;
}
.diagnosis{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/*TEST BOOKING*/
.test_booking{
    width: 500px;
    height: fit-content;
    background-color: #fff;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    z-index: 11;
    margin: 5rem auto;
    padding: 1rem 1rem;
    transform: translate(-50%, -50%);
}
#close{
    font-size: 30px;
    color: rgb(42, 87, 215);
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
}
.booking_hospital_logo{
    opacity: 6%;
    top: 10%;
    position: absolute;
    width: 400px;
    height: 400px;
}
.test_booking h1{
    font-size: 27px;
    text-align: center;
    color: #fff;
    margin: 1em auto;
    padding: 0.5rem;
    background-color: rgb(42, 87, 215);
}
.test_booking table{
    width: 100%;
    margin: 2rem 0;
}
.test_booking table thead td{
    padding: 1rem 2rem;
    border-bottom: 1px solid #bdbaba;
    color: #000000;
}
.test_booking table tbody td{
    padding: 0.5rem 2rem;
}
.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    background-color: rgb(42, 87, 215);
    color: #fff;
}
.test_booking .btn{
    width: 100%;
    background-color: rgb(42, 87, 215);
    padding: 1rem 0;
    margin: 1rem 0;
    color: #fff;
    border: none;
    transition: all ease-in-out 0.5s;
}
.test_booking .btn:hover{
    background: none;
    border: 1px solid rgb(42, 87, 215);
    cursor: pointer;
    color: #000000;
}
.overlay{
    width: 100%;
    height: 100%;
    background-image: url(../Images/19374.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.hide{
    display: none;
}