@font-face {
    font-family: 'SEGOEUI';
    src: url('SEGOEUI.TTF') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            animation: fadeIn 0.5s ease-in-out;
        }
  
.alert_div{
    width: auto;
    height: auto;
    max-width: 350px;
    position: fixed;
    top:0%;
    right: 0%;
    z-index: 2000;
    color: rgb(255, 255, 255);;
    background-color: red;
    padding: 1em;
    animation: headShake 1s ease-in-out;
}
.alert_div.pending{
    background-color:blue;
}
.alert_div.successful{
    background-color: green;
}

.navbar{
    width: 100%;
    height: 101px;
    position: fixed;
    display: flex;
    background-color: rgb(42, 87, 215);
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1100;
}


.section1{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    align-items: center;
}

.section2{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile{
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
._toggle_icon{
    color: #fff;
    font-size: 30px;
}

._profile_arrow_icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.profile_account {
    width: 300px;
    position: absolute;
    height: auto;
    top: 100%;
    background-color: rgb(42, 87, 215);
    animation: fadeIn ease-in-out 0.5s;
    right: 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    color: rgb(42, 87, 215);
    border: none;
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 1px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}
h3{
    font-weight:normal;
    font-size: 1.3rem;;
    letter-spacing: 2px;
    color: rgb(42, 87, 215);
}
.profile img{
    width: 50px;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.active_on{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    background-color: #fff;
    /* margin: 0 0 0 18rem; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}


.sidebar{
    width: auto;
    max-width: 300px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    background-color: rgb(42, 87, 215);
    z-index: 1100;
}

._sidebar_contents{
    justify-content: center;
    display: flex;
    align-items: center;
   color: #fff;
   height: 75px;
   cursor: pointer;
   text-align: center;
}
._sidebar_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    padding: 1em;
}

._links{
    color: rgb(42, 87, 215);
    font-size: 1.3em;
    margin: 0.5em 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: all ease-in-out 0.5s;
    position: relative;
}

._links:hover{
    background-color: rgb(42, 87, 215);
    color: rgb(255, 255, 255);
}

.appoitment_section{
    display: flex;
    width: 100%;
}
.approved_appoitment{
    display: flex;
    width: 100%;
}
.approved_appoitment .bi-x-square {
    color: #fff;
    position: relative;
}

.appoitment_section.hide{
    display: none;
}

  .patient_list_div {
    width: 100%;
    margin: 5.5rem 0 0 19rem;
}

 .search_bar_container {
    background-color: #fff;
    color:rgb(42, 87, 215);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.4em 0 0 0;
}
.search_bar_container h3 {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
.search_bar_container i{
    position: absolute;
    right: 1%;
    cursor: pointer;
}
.search_bar_container input {
        padding: 0.5em;
        color: rgb(42, 87, 215);
        font-size: 1.1rem;
         border: none;
          border-bottom: 1px solid rgb(42, 87, 215);
        outline: none;
}

 table {
    width: 100%;
    border-collapse: collapse;
}

 table thead {
    background-color: #fff; 
    position: sticky; 
    top: 0;
    z-index: 1; 
    background-color: #fff; 
    font-size: 1em;
    text-align: center;
}
table thead  td{
    color: rgb(42, 87, 215);
    padding: 0.5em;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    line-height: 1.2;
}
 table tbody td img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

 table tbody td {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 87, 215);
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 1rem;
    vertical-align: center;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
}
.accept-btn{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    color: rgb(42, 87, 215);
    border-radius: 4px;
    transition: all ease-in-out 0.5s;
}
.reject-btn{
    background-color: rgb(255, 0, 0);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    transition: all ease-in-out 0.5s;
} 
.accept-btn:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background: none
} 
.reject-btn:hover{
    color:  rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    background: none
}
 .image{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*RADIOLOGY SECTION*/

.radiology_input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input{
    padding: 0.5em;
    font-size: 1.1rem;
    border: none;
    width: auto;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    outline: none;
    background: none;
    color: rgb(42, 87, 215);;
    border-bottom: 1px solid rgb(42, 87, 215);;
}
select{
    padding: 0.5em;
    font-size: 1.1rem;
    border: none;
    width: auto;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    outline: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}
textarea{
    padding: 0.5em;
    font-size: 1.1rem;
    width: auto;
    border: none;
      border-bottom-width: medium;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    outline: none;
    background: none;
    color: #fff;
    height: 45px;
    border: 1px solid #fff;
}
label {
    font-size: 1.3rem;
    margin: 1rem 0;
}

.radiology_input .result{
    width: 400px;
       position: fixed;
     height:auto;
     right: 0;
     top: 0;
     padding: 1rem;
     z-index: 1200;
     /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
     background-color: rgb(42, 87, 215);;
   }
   .result .bi-x-square{
       color: #fff;
       position: absolute;
      right: 3%;
      top: 2%;
   }
   
   .result .result_for_diagnosis_and_complaint_upload label{
   color: rgb(42, 87, 215);
   }
   .radiology_input .result span{
   color: #fff;
   }
   .radiology_input .result h3{
   color: #fff;
   }
   .radiology_input .result .patient_profile{
       width: 100%;
       height: 100px;
       color: #fff;
   }
   .result button{
       border-radius: 8px;
       border: none;
       background-color: #fff;
       padding: 0.5em;
       cursor: pointer;
       transition: all ease-in-out 0.5s;
       color: rgb(42, 87, 215);;
   }
   .result button:hover{
       background:none;
       border: 1px solid #fff;
       color: #ffffff;;
   }
   .result_for_diagnosis_and_complaint_upload{
       background-color: #fff;
       height: fit-content;
       margin: 1rem 0;
       width: 100%;
       display: flex;
       padding: 1rem;
       justify-content: flex-start;
       flex-direction: column;
   }
   .result_for_diagnosis_and_complaint_upload .flex_control{
       display: flex;
       padding: 0.5rem;
       flex-direction: column;
   
   }
   .result_for_diagnosis_and_complaint_upload label{
color: #2a57d7;
   }
   .result_for_diagnosis_and_complaint_upload input{
       border-bottom: 1px solid rgb(42, 87, 215);;
       outline: none;
   }
   .result_for_diagnosis_and_complaint_upload textarea{
       border: 1px solid rgb(42, 87, 215);;
       outline: none;
       color: #2a57d7;
   }
   

.profile_name{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.profile_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img_div{
    width: 100px;
    overflow: hidden;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 100%;
}
.img_div img{
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.radiology_container {
    width: 100%;
    height: auto;
    padding: 2rem;
    position: relative;
    margin: 5.5rem 0 0 19rem;
    background-color: rgb(42, 87, 215);;
}
/*RADIOGRAPHY*/
.radiography{
  width: 100%;
  color: #fff;
  background-color: rgb(42, 87, 215);
  padding: 0.5rem 0.5rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.radiology_container h3{
    color: #fff;
}

h3{
    font-size: 1.3rem;
}
h4{
    font-size: 1.2rem;
}

.radiography #radiography_minus_icon{
display: none;
}
.radiography_form{
    width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
/*TOMOGRAPHY*/
.tomography_scan{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#tomography_scan_minus_icon{
display: none;
}
.tomography_scan_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

/*Magnetic*/
.magnetic{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#magnetic_minus_icon{
display: none;
}
.magnetic_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

/*Ultrasound_*/
.ultrasound{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#ultrasound_minus_icon{
display: none;
}
.ultrasound_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

/*Nuclear*/
.nuclear{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#nuclear_minus_icon{
display: none;
}
.nuclear_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

/*Fluoroscopy*/
.fluoroscopy{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#fluoroscopy_minus_icon{
display: none;
}
.fluoroscopy_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

/*Mammography*/
.mammography{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#mammography_minus_icon{
display: none;
}
.mammography_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*interventional_radiology*/
.interventional_radiology{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#interventional_radiology_minus_icon{
display: none;
}
.interventional_radiology_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Magnetic Resonance*/
.magnetic_resonance{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#magnetic_resonance_minus_icon{
display: none;
}
.magnetic_resonance_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Dual Energy */
.dual_energy{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#dual_energy_minus_icon{
display: none;
}
.dual_energy_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Chest X-ray */
.chest_x_ray{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#chest_x_ray_minus_icon{
display: none;
}
.chest_x_ray_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Myelography */
.myelography{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#myelography_minus_icon{
display: none;
}
.myelography_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Arthrography */
.arthrography{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#arthrography_minus_icon{
display: none;
}
.arthrography_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Hysterosalpingography */
.hysterosalpingography{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#hysterosalpingography_minus_icon{
display: none;
}
.hysterosalpingography_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Cholangiography */
.cholangiography{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#cholangiography_minus_icon{
display: none;
}
.cholangiography_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Angiography */
.angiography{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#angiography_minus_icon{
display: none;
}
.angiography_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Functional MRI */
.functional_mri{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#functional_mri_minus_icon{
display: none;
}
.functional_mri_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
/*Cardiac Imaging */
.cardiac_imaging{
    width: 100%;
    color: #fff;
    background-color: rgb(42, 87, 215);
    padding: 0.5rem 0.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

#cardiac_imaging_minus_icon{
display: none;
}
.cardiac_imaging_form{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.form_control {
    width: 300px;
    color: #fff;
    font-size: 18px;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
  }

#btn{
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 0.5rem;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 8px;
    color: #2a57d7;
}
#btn:hover{
    background:none;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
}
/*TEST BOOKING*/
.test_booking{
    width: 350px;
    height:auto;
    background-color: #fff;
    position: fixed;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    right: 0;
    top: 0;
    flex-direction: column;
    overflow: auto;
    z-index: 2001;
    padding: 0.5rem;
}

.test_booking table tbody td{
    white-space:none;
}
.test_booking table{
    margin: 2rem 0 0 0;
}
.test_booking table  tbody td{
    text-align: left;
    white-space: wrap;
}
.bi-x-square{
    font-size: 1rem;
    color: rgb(42, 87, 215);
    position: absolute;
    right: 3%;
    cursor: pointer;
    top: 3%;
}
.total{
    width: 100%;
  display: flex;
  justify-content: space-around;
  color: #2a57d7;
  font-size: 1rem;
  text-transform: uppercase;
}

.test_booking button{
    padding: 0.5rem;
    background-color: #2a57d7;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

@media screen and (max-width:1150px) {
    #rm{
       opacity: 0;
       visibility: hidden;
       position: absolute;
       white-space: nowrap;
       background-color: rgb(42, 87, 215);
       padding: 5px; /* Some padding */
       border-radius: 5px; /* Rounded corners for popup */
       top: 0;
       /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
       color: #fff;
    }
    .radiology_container {
        width: 100%;
        height: auto;
        padding: 2rem;
        position: relative;
        margin: 5.5rem 0 0 8rem;
        background-color: rgb(42, 87, 215);
      }

  .patient_list_div {
    width: 100%;
    margin: 5.5rem 0 0 7.9rem;
}
   }
.hide{
    display: none;
}