*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    transition: 2s;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --deep-green: rgb(4 47 46);
    --light-blue:#09529b;
    --white:#ffffff;
    --light-green:#0c9aae;
    --font-family:Arial, Helvetica, sans-serif;
    --light-grey:#fff2f2;
    --font-heading:2rem;
    --icons-size:1.4rem;
}
.div-logo{
    font-size: 2rem;
    font-family: var(--font-family);
    margin: 0 auto;
}
.div-logo a{
    color: var(--white);
  
}


.navbar{
    background: var(--deep-green);
    width: 100%;
    min-width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    display:flex;
    position: fixed;
    z-index: 999;
    top: 0;
}
.signIn{
    margin-right: 3rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    border: none;
    background:none;
    color: #fff;
    cursor: pointer;
}
.signIn:hover{
   transform: scale(1.3);
}
.sidebar{
    position: fixed !important;
    width: 300px;
    z-index: 998;
    height: 100%;
    padding: 1.2rem;
    top: 2rem;
    background: var(--deep-green);
}

.sidebar a{
    color: var(--white);
    text-decoration:none !important;;
    font-family: var(--font-family);
    
}
.toggle{
    margin-left: 3rem;
    cursor:pointer;
}

.close-toggle{
    position: relative;
    cursor:pointer;
    margin-left: 200px;
}

.menu-content{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1.2em;
}
.menu-items{
    display: flex;
    width: 100%;
   justify-content: safe;
   align-items: safe;
    flex-direction: column;
   
}
.items {
    list-style-type:none;
    margin: 1.2rem 1rem;
    font-size: var(--icons-size);
    width: 100%;
    cursor: pointer;
    color: #fff;
}

.items:hover{
    background-color: var(--light-green);
    padding: 2rem;
   color: #fff;
}

.items a:hover{
    color: #ffffff;
}
i{
    color: var(--white); 
    font-size: var(--icons-size);
}

i:hover{
    color: #ffffff;
}

.container{
    width:100%;
    height:100vh;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--light-green);
}
.flex-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.cards{
    margin: 1rem 2rem;
    width: 200px;
    height: 100px;
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.1rem;
    transition: ease-in-out 2s;
    background:var(--c);
    box-shadow: 1px 1px 4px #b7aeae;
    transition: all 0.9s linear;
    animation-name:initial;
    animation-duration: 2s;
    cursor: pointer;
}
.cards:hover{
    transform: scale(1.2);
}

#card-icons{
    color: var(--light-green);
    font-size: 3rem;
}

h2{
    color:var(--light-green);
}

