*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background-image: url(Images/1282798.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.container-2{
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background-image: url(Images/1282821.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.container-3{
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background-image: url(Images/1282794.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.form-container{
    background-color: #11283f; 
    width: fit-content;
    height: fit-content;
    padding: 40px 60px;
    margin: 10% auto;
    border-radius: 5px;
    color: #ffffff;
}
.form-container-2{
    background-color: #09529b;
    width: fit-content;
    height: fit-content;
    padding: 40px 60px;
    margin: 10% auto;
    border-radius: 5px;
    color: #ffffff;
}
.form-container-3{
    background-color:#0c9aae;
    width: fit-content;
    height: fit-content;
    padding: 40px 60px;
    margin: 10% auto;
    border-radius: 5px;
    color: #ffffff;
}
h2{
    color: #ffffff;
    text-align: center;
}
#login-div-container a{
    text-decoration: none;
    color: lightblue;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
}
.btn-2{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: #40a0f0;
    padding: 15px;
    font-family: inherit;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.password-link{
    color: #ffffff;
}
.btn:hover{
    outline: 0;
}

.btn:active{
    transform: scale(0.98); 
}

.text{
    margin-top: 30px;
    color: #fff;
}
.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}
.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block !important;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    color: #fff;
}
.form-control input:focus,
 .form-control input:valid{
    outline:0;
    border-bottom-color: lightblue !important;
}

