*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", Franklin Gothic Book;
}

body{
    width: 100%;
    min-height:100vh;
    background-image: url(../Images/19374.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    top: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section1{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: zoomIn 1s ease-in-out;
    align-items: center;
}
.section2{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: zoomIn 1s ease-in-out;
    justify-content: space-around;
    align-items: center;
}
.icons{
    color: #fff;
    font-size: 30px;
    width: 150px;
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100%;
}
#icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
#icon-drop{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.notification1{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.notification2{
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.profile{
    width: 50%;
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
.profile_account{
    width: 300px;
    position: absolute;
    height: fit-content;
    top: 100%;
    animation: zoomIn 01s ease-in-out;
    right: 2%;
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    border: none;
    color: rgb(42, 87, 215);
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 2px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}

.profile img{
    width: 50px;
    margin: 0 0.8rem;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.active{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    border: none;
    background-color: #fff;
    margin: 0 7rem;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}


.sidebar{
    width: 75px;
    height: fit-content;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1000;
}
.sidebar_contents{
    justify-content: center;
    display: flex;
    align-items: center;
   color: #fff;
   height: 75px;
   cursor: pointer;
   text-align: center;
   border-bottom: 2px solid rgba(255, 255, 255);
}
.sidebar_icons{
    width: 100%;
    animation: zoomIn 01s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.sidebar_icons #icon{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 1rem 0;
}

.new_vital{
    width: 100%;
    height: 100%;
}

.search-container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-bar{
    background-color: #ffffff; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    max-width: 800px;
    display: flex;
    animation: zoomIn 01s ease-in-out;
    padding: 2px;
    align-items: center;
    height: 60px;
    border-radius: 4px;
}

#select{
    background-color:  rgb(42, 87, 215);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 300px;
    padding: 19px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px ;
}

#select ul{
    position: absolute;
    top: 80px;
    left: 0;
    background-color:rgb(42, 87, 215);
    color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:4px ;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#select ul li{
    padding: 10px 20px; 
    cursor: pointer;
    list-style: none;
}
input{
    padding: 10px 25px;
    border: none;
    width: 50%;
    outline: none;
    font-size: 18px;
} 
#select ul.open{
    max-height: 400px;
}
#submit-input{
    font-size: 1.3rem;
    color:rgb(42, 87, 215);
    cursor: pointer;
}

.patient_container{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.flex_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.each_container{
    display: flex;
    flex-direction: row;
    margin: 1rem 0 ;
}
.number_container{
    width: 100px;
    animation: zoomIn 01s ease-in-out;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
}
.patient_info{
    width: 700px;
    height: fit-content;
    animation: zoomIn 01s ease-in-out;
    background-color: rgb(255, 255, 255);
    display: flex;
    color: rgb(0, 0, 0);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    margin: 0 1rem;
}
.patient_info span{
    font-size: 17px;
    animation:slideInDown 01s ease-in-out;
    color: rgb(0, 0, 0);
}

.vitals_input{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: rgb(0, 0, 0);
}
.btn_vital, .btn_ward, .btn_ward_round, .btn_bed{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1em 0.5em;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 1rem 0;
    transition: all ease-in-out 0.5s
}
.btn_vital:hover{
    background: none;
    border: 1px solid rgb(42, 87, 215);
    color: rgb(42, 87, 215);
}
.btn_ward:hover{
    background: none;
    border: 1px solid rgb(42, 87, 215);
    color: rgb(42, 87, 215);
}
.btn_ward_round:hover{
    background: none;
    border: 1px solid rgb(42, 87, 215);
    color: rgb(42, 87, 215);
}
.btn_bed:hover{
    background: none;
    border: 1px solid rgb(42, 87, 215);
    color: rgb(42, 87, 215);
}
.vitals_input .vital_form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    padding: 1.5rem 0;
    color: #fff;
}
.vitals_input .vital_form .form_control{
    width: auto;
    margin: 1rem 1rem;
    height: 100px;
}
.vital_form .form_control label{
    width: fit-content;
}
.vital_form .form_control input{
    width: fit-content;
    padding: 2rem;
}
.vital_form .form_control textarea
{
    width: 500px;
    height: 100px;
    border: none;
}

.ward_container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 1rem;
}
.ward_container label{
    margin: 1rem 0;
}
#ward{
    padding: 1rem 1rem;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border: none;
    color: #fff;
}
#ward option{
    background-color: rgb(0, 0, 0);
    width: 100%;
    border: none;
}

.bed_container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 1rem;
}
#bed{
    padding: 1rem 1rem;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border: none;
    color: #fff;
}
.ward_round_container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem 1rem;
}

#stage{
    padding: 1rem 1rem;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border: none;
    color: #fff;
}
.ward_round_container label{
   margin-top: 1rem;
}
.ward_round_container textarea{
    width: 100%;
    color: #fff;
    background-color: rgb(0, 0, 0);
    border: none;
}
.vitals_input{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    height: fit-content;
}
.vitals_input form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.vitals_input label{
    color: #fff;
}
.vitals_input .form_control{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1rem 0.5rem;
}

.vitals_input input{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}
.hidden{
    display: none;
}

.hide{
    display: none;
}