*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  flex-direction: row;
  background-color:rgb(4 47 46);
}  
h1{
    color: #fff;
    font-size: 2rem; 
}
#sign-out{
  position: fixed;
  left:30px;
  font-size: 30px;
  top: 28px;
  cursor: pointer;
}
.content-con{
  width: 100%;
  height: 100%;
  display: flex;
}
.form{
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.form-container{
    width:500px;
    background-color: rgb(4 47 46);
    box-shadow: rgba(113, 112, 114, 0.15) 0px 48px 100px 0px;
    color: #fff;
    position: relative;
    padding: 2rem;
    text-align: center;
    margin: 5rem 0;
}

.form-display{
    display: flex;
    flex-direction: row;
    /* padding: 1rem; */
    width: 100%;
}

.form-control{
    margin: 1rem 1rem;
    width: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    position: relative;
    color: #fff;
}
.form-display2{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
label{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
input{
    width: 100%;
    padding: 0.5rem;
    background: none;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    text-indent: 18px;
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
}
input:focus{
    border: 1px solid rgb(0, 153, 255) !important;
}
i{
    position: absolute;
    left: 5px;
    top: 70%;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
  }
  .btn-next{
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(4 47 46);
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    padding: 0.5rem;
    transition: all ease-in-out 2s;
  }
  .btn-next:hover{
    background-color: rgb(0, 153, 255) !important;
    color: #fff;
  }
  .btn-back{
    width: 100%;
    background-color: rgb(0, 153, 255) !important;
    color: rgb(255, 255, 255);
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    padding: 0.5rem;
    transition: all ease-in-out 2s;
  }
  .btn-back:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(4 47 46);
  }
 .btn-submit{
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    transition: all ease-in-out 2s;
    padding: 0.5rem;
  }
  .btn-submit:hover{
    background-color: rgb(0, 153, 255) !important;
    color: rgb(255, 255, 255);
  }
  .form-section{
    display: none;
  }
  .current-section{
    display: block;
  }
  .btn-back{
    display: none;
  }
  .btn-next{
    display:none;
  }
  .ward{
    width:100%;;
    height: fit-content;
    padding: 1rem;
  }
  .hidden{
    display: none;
  }
  select{
    padding: 1rem;
    border: none;
    width: 100%;
    margin: 1rem 0;
    background-color: #fff;
    font: 15px;
    cursor: pointer;
}
