@font-face {
    font-family: 'SEGOEUI';
    src: url('SEGOEUI.TTF') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            animation: fadeIn 2s ease-in-out;
        }
        :root{
            --bg-color:#fff;
            --dg-color:#000000;
            --extra-small-font:0.70rem;
            ---small-font:0.80rem;
            --medium-font:1.2rem;
            --large-font:1.8rem;
            --extra-large-font:3.5rem;
            --font-color:rgb(42, 87, 215);
            --navbar-icon-color:#c4bdbd;
        }
        
        p, h3, h4, span, li {
            font-size: var(--medium-font);
            color: var(--font-color);
        }
        h5, h6{
            font-size: var(--extra-small-font);
        }
        h1, h2{
            font-size: var(--large-font);
            color: var(--font-color);
        }
        span{
            padding: 0.3rem;
        }
.alert_div{
    width: auto;
    height: auto;
    max-width: 350px;
    position: fixed;
    top:0%;
    right: 0%;
    z-index: 2000;
    color: rgb(255, 255, 255);;
    background-color: red;
    padding: 1em;
    animation: headShake 1s ease-in-out;
}
.alert_div.pending{
    background-color:blue;
}
.alert_div.successful{
    background-color: green;
}

.navbar{
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    background-color: rgb(42, 87, 215);
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0.5rem;
    z-index: 1100;
}


.section1{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    align-items: center;
}

.section2{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile{
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
.profile span{
    color: #ffffff;
}
.profile h4{
    color: #ffffff;
}
._toggle_icon{
    color: #fff;
    font-size: 30px;
}

._profile_arrow_icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.profile_account {
    width: 300px;
    position: absolute;
    height: auto;
    top: 100%;
    background-color: rgb(42, 87, 215);
    animation: fadeIn ease-in-out 0.5s;
    right: 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    color: rgb(42, 87, 215);
    border: none;
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 1px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}
h3{
    font-weight:normal;
    font-size: 1.3rem;;
    letter-spacing: 2px;
    color: rgb(42, 87, 215);
}
.profile img{
    width: 50px;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.active_on{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    background-color: #fff;
    /* margin: 0 0 0 18rem; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}
.sidebar{
    width: 100%;
    width: 300px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(234, 232, 232);
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}
.sidebar-header{
width: 100%;
display: flex;
padding: 0.5rem;
color: rgb(42, 87, 215);
font-size: var(--extra-large-font);
justify-content: space-evenly;
align-items: center;
}
.sidebar-body{
width: 100%;
display: flex;
padding: 0.5rem;
color:rgb(42, 87, 215);
align-items: center;
}
.sidebar-body ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
border-radius: 4px;
cursor: pointer;
}

.sidebar-body ul li.active{
margin: 0.3rem 0;
padding: 0.9rem;
background-color: #f0f7ff;
width: 100%;
border-radius: 4px;
cursor: pointer;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
background: none;
border-radius: 4px;
cursor: pointer;
}
.sidebar-footer{
 width: 300px;
display: flex;
padding: 0.5rem 0;
color:rgb(255, 255, 255);
justify-content:left;
height: auto !important;
flex-direction: column;
position: fixed;
bottom: 0;
background-color: rgb(42, 87, 215);;
align-items: left;
justify-content: center;
}
.sidebar-footer  .bi-person{
    font-size: var(--medium-font);
    color: var(--bg-color);
}
.sidebar-footer span{
    font-size: var(--medium-font);
    color: var(--bg-color);
}
 button{
    background-color: #ffc145;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
}

/*PATIENT FORM*/
.form_sections{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.new_intake_admission_form{
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    padding: 1em;
    margin: 5em 0 0 19em;
}
.upload_image{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;;
    display: flex;
    box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 100%;
}
.upload_image #capture_image{
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100%;
    padding: 0.5rem;
    position: absolute;
    right:12%;
    bottom: 17%;
    background-color: rgb(42, 87, 215);
}
#capturedImage{
    position: absolute;
}
.flex_capture_div{
    display: flex;
    justify-content: center;
}
.btn_capture{
    width: 150px;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: rgb(42, 87, 215);
    color: #fff;
}
.btn_capture:hover{
    background:none;
    color: rgb(42, 87, 215);
    border: 1px solid rgb(42, 87, 215);
}
.btn_re_capture{
    width: 150px;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: rgb(42, 87, 215);
    color: #fff;
}

.btn_re_capture:hover{
    background:none;
    color: rgb(42, 87, 215);
    border: 1px solid rgb(42, 87, 215);
}
  .form-container{
      width:auto;
      position: relative;
      flex-wrap: wrap;
  }
 
  .sections {
    display: flex;
    width: 100%;
    margin: 1em 0;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  
  .form-control{
      margin: 1rem 0.5rem;
      display: flex;
      text-align: left;
      flex-direction: column;
      width: 350px;
      position: relative;
      color: rgb(42, 87, 215);
  }
  .form-control2{
    margin: 1rem 0.5rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 350px;
    position: relative;
    text-align: center;
    color: rgb(42, 87, 215);
    justify-content: start;
  }
  .form-control2 input{
    width: fit-content;
  }
.family_plan_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.family_plan_section button{
    margin: 0.4em 0;
    background-color: rgb(42, 87, 215);
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 1em;
    transition: all ease-in-out 0.5s;
}
.family_plan_section button:hover{
   background:none;
   border: 1px solid rgb(42, 87, 215);
   color: rgb(42, 87, 215);
}
.form-control_check input{
    margin: 0 1em;
}
.form-control select {
    padding: 0.5em;
    color: rgb(42, 87, 215);
    font-size: 1rem;
  border: none;
  border-bottom: 1px solid rgb(42, 87, 215);
    outline: none;
    text-transform: uppercase;
  }
  .form-display2{
      display: flex;
      justify-content: center;
      margin: 0.5rem 0;
  }
  label{
    font-size: 1.2rem;
      color: rgb(42, 87, 215);
  }
  input {
    padding: 0.5em;
    color: rgb(42, 87, 215);
    font-size: 1.1rem;
  border: none;
  border-bottom: 1px solid rgb(42, 87, 215);
    outline: none;
  }
  .valid{
    color: rgb(42, 87, 215);
  }

  .form-control i{
      position: absolute;
      left: 5px;
      top: 70%;
      color: rgb(42, 87, 215);
      transform: translateY(-50%);
    }
   .btn-submit{
    width: auto;
    background-color: rgb(42, 87, 215);
    padding: 0.7rem;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
    }
 
    .btn-submit:hover{
      background:none;
      border: 1px solid rgb(42, 87, 215);
      color: rgb(42, 87, 215);
    }
    select{
      padding: 1rem;
      width: 100%;
      margin: 1rem 0;
      background-color: #fff;
      font: 15px;
      cursor: pointer;
  }
  .all_patient_list{
    display: flex;
  }
  .patient_list_div {
    width: 100%;
    margin: 5.5rem 0 0 19rem;
}


 .search_bar_container {
    background-color: #fff;
    color:rgb(42, 87, 215);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.4em 0 0 0;
}
.search_bar_container span {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
.search_bar_container i{
    position: absolute;
    right: 1%;
    cursor: pointer;
}
.search_bar_container input {
    padding: 0.5em;
}

 table {
    width: 100%;
    border-collapse: collapse;
}

 table thead {
    background-color: #fff; 
    position: sticky; 
    top: 0;
    z-index: 1; 
    background-color: #fff; 
    font-size: 1.3em;
    text-align: center;
}
table thead  td{
    color: rgb(42, 87, 215);
    padding: 0.5em;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    line-height: 1.2;
}
 table tbody td img{
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 100%;
}

 table tbody td {
    padding: 0.5em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 87, 215);
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 0.95rem;
    vertical-align: center;
    font-size: 1rem;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
}

.walkin_patient_list_div{
    margin: 5.5rem 0 0 19rem;
    width: 100%;
}
._action{
    cursor: pointer;
}
._box_popup {
    width: auto;
    height: fit-content;
    max-width: 300px;
    position: fixed;
    right: 0;
    color: #2a57d7;
    top: 0;
    background-color: #ffffff;
    z-index: 1100;
    padding: 0.9em;
  }
._box_popup .red{
    color: #2a57d7;
    position: absolute;
    right: 3%;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5em;
    top: 3%;
}
._box_popup h5{
 font-size: 1em;
 text-transform: uppercase;
 font-weight: normal;
 padding: none;
 margin: none;
cursor: pointer;
}
h3{
    font-size: 1.5rem;
}

 .appoitment{
    width:400px;
    height:auto;
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position:fixed;
    color: black ;
    padding:1em;
    top: 0;
    right:0;
    z-index: 1100;
}
.appoitment button{
    background-color:rgb(42, 87, 215); 
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.red{
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(42, 87, 215); 
}
.appoitment .form-control{
    width: 100%;
    margin: 1em 0;
}
.appoitment label {
    color: rgb(42, 87, 215); 
}
.appoitment textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    height: 50px;
    color: rgb(42, 87, 215); 
    border: 1px solid rgb(42, 87, 215); ;
    outline: none;
    text-transform: uppercase;
}
.profile_container {
    width: auto;
    height: auto;
    background-color: rgb(42, 87, 215);
    display: flex;
    position: fixed;
    z-index: 9;
    z-index: 1200;
    top: 0;
    right: 0;
  }
.profile_container .close_icon{
    position: absolute;
    font-size: 25px;
    color: #fff;
    right: 3%;
    cursor: pointer;
    top: 2%;
}
.div1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;;
    justify-content: center;
    padding: 1em;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.div1 span{
    color: rgb(0, 87, 194);
    font-size: 20px;
}
.div2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;;
    flex-direction: column;
    background-color: rgb(42, 87, 215);
}
.div2 h3{
    color: #fff;
}
.div2 button{
    margin: 2em 0;
    color: rgb(0, 87, 194);;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    padding: 0.5em;
}
.div2 button:hover{
    background: none;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}
.div2 span{
    color: #fff;
    font-size: 20px;
}
.div2 img{
    width: 170px;
    height: 170px;
    margin: 1em 0;
    border-radius: 100%;
}

/*WALKIN PATIENTS */
.walkin_admission_form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 1em;
    overflow-x:hidden;
    overflow-y: visible;
    z-index: 1100;
}
.close_icon{
    position: absolute;
    right: 6%;
    font-size: 1rem;
    top: 2%;
    color: #2a57d7;
    cursor: pointer;
}
.walkin_in_section_upload_image{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;;
    display: flex;
    box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 100%;
  }

.walkin_in_section_upload_image #walkin_in_section_capture_image{
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100%;
    padding: 0.5rem;
    width: max-content;
    position: absolute;
    right:9%;
    bottom: 20%;
    background-color: rgb(42, 87, 215);
}
#walkin_in_section_capturedImage{
    position: absolute;
}
.flex_capture_div{
    display: flex;
}
.walkin_in_section_btn_capture{
    width: 150px;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: rgb(42, 87, 215);
    color: #fff;
}
.walkin_in_section_btn_re_capture{
    width: 150px;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: rgb(42, 87, 215);
    color: #fff;
}
.walkin_in_section_btn_capture:hover{
    background:none;
    color:  rgb(42, 87, 215);;;
    border: 1px solid  rgb(42, 87, 215);;
}
.walkin_in_section_btn_re_capture:hover{
    background:none;
    color:  rgb(42, 87, 215);;;
    border: 1px solid  rgb(42, 87, 215);;
}
.checkup_section{
    height: auto;
    color: rgb(42, 87, 215);
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 1200;
    right: 0;
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

.checkup_section label{
    color:  rgb(42, 87, 215);
}
.checkup_section .form-control{
    width: 100%;
    margin: 1em 0;
}
#authenticate{
    color: #2a57d7;
    text-transform: uppercase;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkup_section input{
    outline: none;
}
.finger_print_div{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-color: rgb(42, 87, 215);
    position: absolute;
    top: 0;
    left: 0;
}
.finger_print_div button{
    background-color: #fff;
    padding: 0.5em;
}
.finger_print_div .print_icon{
    font-size: 103px;
    color: #fff;
}
.checkup_section .close_icon{
    position: absolute;
    right: 3%;
    top: 2%;
    cursor: pointer;
    font-size: 1rem;
    color: #2a57d7;
}
.finger_print_div .authenticate{
    transform: rotate(360deg);
    color: rgb(255, 255, 255);
    font-size: 40px;
    animation: rotateAnimation 2s linear infinite; /* Apply the rotation animation */
}
@keyframes rotateAnimation {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End rotation at 360 degrees */
    }
}

@media screen and (max-width:1150px) {
 #rm{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    background-color: rgb(42, 87, 215);
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners for popup */
    top: 0;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    color: #fff;

 }
 .all_patient_list {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .patient_list_div {
    width: 100%;
    margin: 5em 0 0 19em;
}
  .walkin_patient_list_div {
    width: 100%;
    margin: 5em 0 0 19em;
}

 .new_intake_admission_form{
    margin: 5em 0 0 19em;
    width: 90%;
 }
 .appoitment_section {
    height: 100%;
    margin: none;
    display: flex;
    justify-content: center;
    margin: 0 0 0 19em;
  }
}
@media screen and (max-width:856px) {
    .form-control {
        margin: 1rem 0.5rem;
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 300px;
        position: relative;
        color: rgb(42, 87, 215);
      }
      .appoitment_section {
        height: 100%;
        margin: 6rem 0 0 8em;
      }
      
      .upload_image {
        width: 250px;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
        position: relative;
        text-align: center;
        border-radius: 100%;
      }
      .walkin_in_section_upload_image{
        width: 250px;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
        position: relative;
        text-align: center;
        border-radius: 100%;
      }
}
@media screen and (max-width:650px) {
    .form-control {
        margin: 1rem 0.5rem;
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 300px;
        position: relative;
        color: rgb(42, 87, 215);
      }
      .upload_image {
        width: 230px;
        height: 230px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
     box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
        position: relative;
        text-align: center;
        border-radius: 100%;
      }
      .walkin_in_section_upload_image{
        width: 230px;
        height: 230px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
     box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
        position: relative;
        text-align: center;
        border-radius: 100%;
      }
}

@media screen and (max-width:550px) {
    .form-control {
        margin: 1rem 0.5rem;
        display: flex;
        text-align: left;
        flex-direction: column;
        width: 300px;
        position: relative;
        color: rgb(42, 87, 215);
      }
      .search_bar_container i {
        position: absolute;
        right: 24%;
        cursor: pointer;
        top: 70%;
      }
      .search_bar_container {
        background-color: #fff;
        color: rgb(42, 87, 215);
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0.4em 0 0 0;
        flex-direction: column;
      }
      .upload_image {
        width: 240px;
         height: 240px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
        position: relative;
        text-align: center;
        border-radius: 100%;
      }
      .appoitment_section {
        height: 100%;
        margin: 6rem 0 0 5em;
      }
      .walkin_in_section_upload_image{
        width: 240px;
        height: 240px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
      box-shadow: rgba(229, 227, 227, 0.35) 0px 5px 15px;
        position: relative;
        text-align: center;
        border-radius: 100%;
      }
      
      .walkin_admission_form{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: auto;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1100;
    }
    }


.wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
/* Style for hidden checkboxes */
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

/* General style for labels acting as checkbox */
.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center the label text with the custom checkbox */
}

/* Styling for the custom checkbox appearance */
.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #2a57d7;;
    transition: all 0.2s ease;
    margin-right: 8px; /* Space between the checkbox and the label text */
}

/* SVG inside the custom checkbox */
.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}

/* Hover effect for the custom checkbox */
.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506EEC;
}

/* Style changes when the checkbox is checked */
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(3.5);
    opacity: 0;
    border-radius: 50%;
    transition: all 0.6s ease;
}

/* Animation effect for the checkbox background */
@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}


.hide{
    display: none;
}
.hidden{
    display: none;
  }