

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(../../../Images/Gallery\ of\ Renovation\ and\ Extension\ of\ the\ Hameln\ County\ Hospital\ _\ Nickl\ &\ Partner\ Architekten\ -\ 4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #ffffff;
    text-align: center;
}
.patient-navbar{
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    animation: fadeIn 1s ease-in-out;
}
#back-arrow-patientslist{
    position: absolute;
    left: 0;
    color: #fff;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.content{
width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.container-timer{
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}
.timer-box-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
    align-items: center;
    
}
.timer-box{
    padding: 0.2rem 0.5rem;
    background-image: linear-gradient(to left top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    margin: 0 4px;
    color: #ffffff;
    font-size: 23px;
    border: none;
    border-bottom-right-radius: 19px;
}
.timer-text{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.all_input{
    width: 900px;
}
.patient_info, .lab_info,.complain, .system, .patient_vitals, .treatment_prescribtion, .diagnosis{
    display: flex;
    padding: 1rem;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    margin: 2rem 0;
    width: 100%;
    border: none;
    animation: zoomIn 1s ease-in-out;
}

#info_close, #lab_close, #vitals_close, #treatment_prescribtion_close{
    display: none;
}
    .info-accordion{
        width:100%;
        height: fit-content;
        background-image: linear-gradient(to left top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
        box-shadow: rgba(173, 172, 172, 0.35) 0px 5px 15px;
        color: var(--deep-green);
        justify-content: center;
        color: #fff;
        padding: 1rem;
        animation: fadeInUp 0.5s ease-in-out;
    }
    .info_details{
        margin: 1rem auto;
        cursor: pointer;
       border: 3px solid #fff;
        color: #ffffff;
        transition: all ease-in-out 0.5s;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
    }
    .info_details:hover{
        margin: 1rem auto;
        cursor: pointer;
       background-color: #fff;
        color:#000000;
        transition: all ease-in-out 0.5s;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
    }

    .flex-info1{
        font-size: 18px;
        display: flex;
        color: #ffffff;
    }
    .info{
        margin: 0.5rem 0.4rem;
        text-transform: uppercase;
    }
    .info-hidden{
        display: none;
    }

    /*LAB INPUT*/
.lab_input{
    width: 900px;
    animation:  fadeInUp 0.5s ease-in-out;
}
.labouratory_examination_section{
width: 100%;
background-color: rgb(4 47 46);
color: #fff;
padding: 1rem 1rem;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;
}
span{
    font-size: 20px;
}
.clinical_chemistry, .immunoassay,.thyroid, .tumor, .blood, .food, .microbiology,.histopathology,.haematology{
    width: 100%;
    color: #fff;
    background-image: linear-gradient(to bottom, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    padding: 1rem 1rem;
    border-bottom: 1px solid #fff;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}
#open_id_1, #close_id_1,
#open_id_2, #close_id_2,
#open_id_3, #close_id_3,
#open_id_4, #close_id_4,
#open_id_5, #close_id_5,
#open_id_6, #close_id_6,
#open_id_7, #close_id_7,
#open_id_8, #close_id_8,
#open_id_9, #close_id_9{
    color: #fff;
    font-size: 20px;
}
#close_id_1, #close_id_2, #close_id_3, #close_id_4,  #close_id_5, #close_id_6, #close_id_7, #close_id_8, #close_id_9{
    display: none;
}
.form1,.form2, .form3, .form4, .form5, .form6,.form7,.form8,.form9{
    width: 100%;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    animation: fadeInUp 0.5s ease-in-out;
}

.form_control{
    width: 300px;
    color: #fff;
    font-size: 18px;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
}
.hidden{
    display: none;
}



/*Start of the complaints Section*/

#complaint_icon_minus{
    display: none;
}
form{
    display: flex;
    width: 100%;
    flex-direction: row;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    flex-wrap: wrap;
    animation: fadeInUp 0.5s ease-in-out;
}
.complaint_form-control{
    width: 300px;
    height: 150px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
label {
    color: #fff;
    font-size: 18px;
    margin: 1rem 0;
}
.complaint-input {
    padding: 1rem;
    border: none;
    font-size: 15px;
    outline: none;
    border-radius: 2px;
}
.test{
    padding: 1rem;
    border: none;
    font-size: 15px;
    border-radius: 2px;
}


/**Start of the System review Section*/

 #system_icon_minus{
    display: none;
 }
.system_review-section{
    width: 100%;
    height: fit-content;
    animation: fadeInUp 0.5s ease-in-out;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    padding: 1rem;
}
.drop-down1, .drop-down2,  .drop-down3, .drop-down4, .drop-down5, .drop-down6, .drop-down7, .drop-down8, .drop-down9, .drop-down10, .drop-down11{
    width: 100%; 
   border-bottom: 4px solid #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
span{
    color: #fff;
    font-size: 20px;
}
#open_1, #close_1, #open_2, #close_2, #open_3, #close_3,
#open_4, #close_4, #open_5, #close_5,
#open_6, #close_6, #open_7, #close_7,
#open_8, #close_8, #open_9, #close_9,
#open_10, #close_10, #open_11, #close_11{
    color: #fff;
    font-size: 20px;
}
#close_1, #close_2, #close_3, #close_4, #close_5, #close_6, #close_7, #close_8, #close_9, #close_10,  #close_11{
    display: none;
}
.active{
    display: none;
}
.gen_form1, .skin_form2, .endo_form3, .hermato_form4, .mus_form5,  .head_neck_form6, .ear_nose_form7, .breast_form8, .res_form9, .car_form10, .gas_form11{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    animation: fadeInUp 0.5s ease-in-out;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-control{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}
label{
    color: #fff;
    font-size: 18px;
}

/*End of System Review*/

/*Start of Vitals*/
.show_vitals{
    display: block;
    animation: fadeInUp 1s ease-in-out;
}

.impatient_vital, .outpatient_vital, .antenatal_vital{
    width: 100%;
    padding: 1rem;
    background-color: red;
    animation: fadeInUp 0.5s ease-in-out;
    background-image: linear-gradient(to top, #003b60, #003e60, #004b6e, #005374, #005472);
    display: flex;
    border-bottom: 3px solid #fff;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#impatient_close, #outpatient_close, #antenatal_close, #diagnosis_close{
    display: none;
}
.table_div{
    width: 100%;
    height: auto;
    display: block;
    overflow-x: auto;
    display: flex;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    padding: 0.5rem;
    color: #fff;
    font-size: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
table th{
    background-image: linear-gradient(to top, #003b60, #003e60, #004b6e, #005374, #005472);
    color: rgb(255, 255, 255);
    padding: 1rem;
}
table td{
    background-color: #ffffff;
    color: black;
    padding: 1rem;

    border-bottom: 2px solid rgb(242, 239, 239);
}
.date_time_vital{
    color: #000000;
    font-size: 15px;
}
.table_div_treatment_prescribion{
    width: 100%;
    height: auto;
    display: block;
    overflow-x: auto;
    display: flex;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    padding: 0.5rem;
    color: #fff;
    font-size: 15px;
}
.table_div_diagnosis{
    width: 100%;
    height: 100px;
    display: block;
    overflow-x: auto;
    display: flex;
    background-image: linear-gradient(to top, #0062a1, #0072b1, #0083c1, #0095d1, #00a6e0);
    padding: 0.5rem;
    color: #fff;
    font-size: 15px;
}
.hidden{
    display: none;
}