

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #ffffff;
    text-align: center;
    font-size: 21px;
}
.patient-navbar{
    background:linear-gradient(-12deg, rgb(100, 227, 255) 0px, rgb(42, 87, 215) 100%);
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
}
#back-arrow-patientslist{
    position: absolute;
    left: 0;
    color: #fff;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.content{
    width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-timer{
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}
.timer-box-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
    align-items: center;
    
}
.timer-box{
    padding: 0.2rem 0.5rem;
    background-color:rgb(0, 0, 0);
    margin: 0 4px;
    color: #ffffff;
    font-size: 23px;
    border: none;
    border-bottom-right-radius: 19px;
}
.timer-text{
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.all_input{
    width: 900px;
}
.patient_info{
    display: flex;
    padding: 1rem;
    background:linear-gradient(-12deg, rgb(100, 227, 255) 0px, rgb(42, 87, 215) 100%);
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    margin: 2rem 0;
    width: 100%;
    border: none;
}

#info_close{
    display: none;
}
    .info-accordion{
        width:100%;
        height: fit-content;
        box-shadow: rgba(173, 172, 172, 0.35) 0px 5px 15px;
        color: var(--deep-green);
        justify-content: center;
        padding: 1rem;
    }
    .flex-info1{
        font-size: 18px;
        display: flex;
    }
    .info{
        margin: 0.5rem 0.4rem;
    }
    .info-hidden{
        display: none;
    }