:root{
    --deep-green: rgb(4 47 46);
    --light-blue:#09529b;
    --white:#ffffff;
    --light-green:#0c9aae;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cambria;
}

.patient-container{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-color:var(--white);
}
h2{
    color: #ffffff;
    text-align: center;
}
.patient-navbar{
    background-color:var(--deep-green);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    width:100%;
    height: 8vh;
    max-width: 100%;
    border-bottom: 1px solid rgb(200, 195, 195);
    display: flex;
    justify-content: left;
    align-items: center;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.items {
    text-decoration: none;
    margin: 0 0.4rem;
    display: flex;
    color: #ffffff;
    font-size: 1rem;
    background-color:var(--deep-green);
    padding: 0.5rem;
}
a{
    text-decoration: none;
}
.container-timer{
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 6rem auto;
}
.timer-box-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.timer-box{
    padding: 0.2rem 0.5rem;
    background-color:var(--deep-green);
    margin: 0 4px;
    color: #fff;
    font-size: 23px;
    border: none;
    border-bottom-right-radius: 19px;
}
.timer-text{
    color: rgb(176, 170, 170);
    font-size: 18px;
}
.accordion-container{
    width: 100%;
    max-width: 80%;
    height: fit-content;
    margin: 0 auto;
}
.flex-container-for-click1{
    display: flex;
    padding: 1rem;
    background-color: var(--deep-green);
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
    margin: 2rem 0;
    width: 700px;
    border: none !important;
}

.flex-container-for-click2{
    display: flex;
    padding: 1rem;
    background-color:  var(--light-green);
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
    margin: 2rem 0;
    width: 700px;
    border: none !important;
}
.flex-container-for-click3{
    display: flex;
    padding: 1rem;
    background-color:  var(--deep-green);
    color: #fff;
    justify-content: space-between;
    font-size: 20px;
    margin: 2rem 0;
    width: 700px;
    border: none !important;
}
.accordion{
    width: 100%;
    height: 300px;
    background-color: var(--deep-green);
}
#close-accordion-one, #close-accordion-two, #close-accordion-three{
    display: none;
}

#click-close-button-accordion1, #click-close-button-accordion2,#click-close-button-accordion3{
    display: none;
}

.hide{
    display: none;
}
.accordion-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:var(--deep-green);
    padding: 0.7rem;
    color: #fff;
    margin: 2rem 0;
    transition: all ease-in;
    transition-duration: 2s;
}

.hidden{
    display: none;
}
.vital-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: fit-content;
    width: 100%;
    padding: 1rem;
}
.impatient-vital-info-dropdown{
    display: flex;
    padding: 1rem;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    color: #0c9aae;
    margin: 1rem 0;
}
.outpatient-vital-info-dropdown{
    display: flex;
    padding: 1rem;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    color: var(--light-green);
    margin: 1rem 0;
}
.impatient-accordion{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    height: 200px;
    margin: 1rem 0;
}
.outpatient-accordion{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: fit-content;
    height: 300px;
    margin: 1rem 0;
}
.hide-impatient{
    display: none;
}
.hide-outpatient{
    display: none;
}
table{
    background-color: none;
    padding: 2rem;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    }

    table th{
        padding: 0.9rem;
        background-color: var(--light-green);
    }
    table td{
        padding: 0.6rem;
        background-color: var(--deep-green);
        text-align: center;
    }

    .info-accordion{
        width: fit-content;
        height: fit-content;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: var(--deep-green);
        justify-content: center;
        padding: 1rem;
    }
    .flex-info1{
        font-size: 22px;
        display: flex;
    }
    .info{
        margin: 0.5rem 1rem;
    }
    .info-hidden{
        display: none;
    }

#close-dropdown-vital1, #close-dropdown-vital2{
   display: none; 
}
#open-accordion-one, #close-accordion-one, 
#open-accordion-two, #close-accordion-two, 
#open-accordion-three, #close-accordion-three,
#click-open-button-accordion1, #click-close-button-accordion1,
#click-open-button-accordion2, #click-close-button-accordion2,
#click-open-button-accordion3, #click-close-button-accordion3,
#open-dropdown-vital1,#close-dropdown-vital1,
#open-dropdown-vital2,#close-dropdown-vital2
{
    cursor: pointer;
}