*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
body{
    width: 100%;
    height:100%;
}
.navbar{
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    top: 0;
    background-color: rgb(42, 87, 215);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section1{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: zoomIn 1s ease-in-out;
    align-items: center;
}
#back-arrow{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.section2{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: zoomIn 1s ease-in-out;
    justify-content: space-around;
    align-items: center;
}
.icons{
    color: #fff;
    font-size: 30px;
    width: 150px;
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100%;
}
#icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
#icon-drop{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.notification1{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.notification2{
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.profile{
    width: 50%;
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
.profile_account{
    width: 300px;
    position: absolute;
    height: fit-content;
    top: 100%;
    animation: zoomIn 01s ease-in-out;
    right: 2%;
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    background-color: #2a57d7;
    flex-direction: column;
    align-items: center;
}

#image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    border: none;
    color: rgb(42, 87, 215);
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 2px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}

.profile img{
    width: 50px;
    margin: 0 0.8rem;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.profile .active_on{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    border: none;
    background-color: #fff;
    margin: 0 7rem;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}


.sidebar{
    width: 75px;
    height: fit-content;
    overflow: hidden;
    position: fixed;
    background-color: rgb(42, 87, 215);;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1000;
}
.sidebar_contents{
    justify-content: center;
    display: flex;
    align-items: center;
   color: #fff;
   height: 75px;
   cursor: pointer;
   text-align: center;
   border-bottom: 2px solid rgba(255, 255, 255);
}
.sidebar_contents img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.sidebar_icons{
    width: 100%;
    animation: zoomIn 01s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.sidebar_icons #icon{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 1rem 0;
}

#all_section_container{
    width: 100%;
    height: 100%;
}

.appoitment_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.appiontment_booking_container{
    width: 100%;
    height: fit-content;
    margin: 4.5rem  0 0 5rem ;
}

.head_sec{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 1rem;
    align-items: center;
}
.appoitment_input_control{
    position: relative;
    width: 260px;
}
.appoitment_input{
    padding: 0.5rem 0.5rem;
    outline: none;
    width: 100%;
    border: none;
    background-color: #fff;
}
.appoitment_input:focus{
    border: 1px solid rgb(0, 0, 0);
}
#search_icon{
    position: absolute;
    right: 20%;
    top: 28%;
}
.table_container{
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(232, 223, 223, 0.35) 0px 5px 15px;
    height: 700px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}
.table_container table{
    width: 100%;
    border-collapse: collapse;
}
/* .table_container table thead{
    width: 100%;
    position: fixed;
    z-index: 777;
} */
.table_container table thead td{
    background-color: rgb(42, 87, 215);;
    padding: 1rem;
    font-size: 18px;
    color: #fff;
}
.table_container table tbody td{
    background-color: rgb(255, 255, 255);;
    padding: 0.4rem;
    border-bottom: 1px solid rgb(224, 221, 221);
    font-size: 15px;
    margin: 0.4rem 0;
    color: #000000;
}

.table_container #accept_button{
    padding: 0.5rem 0.5rem;
    background-color: rgb(42, 87, 215);
    border: none;
    width: 100%;
    margin: 0.5em 0;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out 0.5s;
}
.table_container #reject_button{
    padding: 0.5rem 0.5rem;
    background-color: rgb(255, 0, 0);
    border: none;
    margin: 0.5em 0;
    width: 100%;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.table_container #accept_button:hover{
    color: #000000;
    background: none;
    border: 1px solid rgb(42, 87, 215); ;
}
.table_container #reject_button:hover{
    color: #000000;
    background: none;
    border: 1px solid  rgb(255, 0, 0);
}

.pending_transaction_list_pagination{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
    height: 50px;
    margin: 0 auto;
}
.pending_transaction_list_pagination .flexs{
    display: flex;;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.pending_transaction_list_pagination .flexs p{
    background-color: rgb(42, 87, 215);
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out  0.5s
}
.pending_transaction_list_pagination .flexs p:hover{
   transform: scale(0.94);
}

.approved_appoitment{
    width: 700px;
    height: fit-content;
    position: relative;
    right: 0;
    padding: 1rem 0;
    margin: 3.7rem 0 0 1rem;
}

.approved_appoitment .table_container{
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(232, 223, 223, 0.35) 0px 5px 15px;
    height: 500px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}
.approved_appoitment .table_container table{
    width: 100%;
    border-collapse: collapse;
}

.approved_appoitment .table_container table thead td{
    background-color: rgb(42, 87, 215);;
    padding: 1rem 1rem;
    color: #fff;
    font-size: 15px
}
.approved_appoitment .table_container table tbody td{
    background-color: rgb(255, 255, 255);;
    cursor: pointer;
    border-bottom: 1px solid rgb(224, 221, 221);
    font-size: 15px;
    padding: 1.5rem 1rem;
    margin: 0.4rem 0;
    color: #000000;
}

#list_dropdown{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    position: relative;
    list-style: none;
    box-shadow: rgba(207, 205, 205, 0.35) 0px 5px 15px;
}
#list_dropdown li{
    padding: 1em;
    border-bottom: 1px solid rgb(237, 233, 233);
}
.beds{
    width: 100%;
    height: 40px;
    background-color: rgb(42, 87, 215); ;
    display: grid;
    color: #fff;
    border: none;
   place-items: center;
   text-align: left;
}
.approved_appoitment #in_progress{
    background-color:rgb(42, 87, 215); ;
    position: relative;
    padding: 0.5rem 0.5rem;
    color: #fff;
}
.approved_appoitment #completed{
    background-color: rgb(0, 154, 0);
    position: relative;
    padding: 0.5rem 0.5rem;
    color: #fff;
}
.approved_appoitment #in_progress:hover{
    background:none;
    border: 1px solid rgb(42, 87, 215); 
    color: rgb(42, 87, 215); ;
}
.approved_appoitment #completed:hover{
    background:none;
    border: 1px solid rgb(0, 154, 0);
    color: rgb(0, 154, 0);;
}
.radiology_pagination{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
    height: 50px;
}
.radiology_pagination .flexs{
    display: flex;;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.radiology_pagination .flexs p{
    background-color: rgb(42, 87, 215);
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out  0.5s
}
.radiology_pagination .flexs p:hover{
   transform: scale(0.94);
}
.table_container button{
    padding: 1rem 1rem;
    background-color: rgb(42, 87, 215);
    border: none;
    width: 100%;
    margin: 0.5em 0;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out 0.5s;
}
.table_container button{
    padding: 1rem 1rem;
    background-color: rgb(255, 0, 0);
    border: none;
    margin: 0.5em 0;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out 0.5s;
}

.table_container button:hover{
    color: #000000;
    background: none;
    border: 1px solid rgb(42, 87, 215); ;
}
.table_container button:hover{
    color: #000000;
    background: none;
    border: 1px solid  rgb(255, 0, 0);
}
.prescription_form_section{
    width: 100%;
    height: 100%;
    display: flex;
}
.prescription_section{
    width: 50%;
    box-shadow: rgba(218, 216, 216, 0.35) 0px 5px 15px;
    height: 100%;
    margin:5em 0 0 5em;
    padding: 1em 1em;
}
.prescription_section .form_container{
    width: 100%;
    height: 400px;
    overflow: auto;
}
.prescription_section .form_container .form_section1{
    width: 100%;
    /* height: 130px; */
    display: flex;
    /* overflow: auto; */
    flex-wrap: wrap;
    padding: 1em 0;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #dbd7d7;
}
.prescription_section .form_container .form_section1 #add_icon{
    position: absolute;
    right: 2%;
    font-size: 23px;
    cursor: pointer;
}
.prescription_section .form_container .form_section1 .form_control{
 display: flex;
 flex-direction: column;
 width: 190px;
 margin: 0.4em 0.4em;
}

.available_stocks_section{
    width: 48%;
    margin: 5em 0 0 1em;
    box-shadow: rgba(215, 215, 215, 0.35) 0px 5px 15px;
}
.available_stocks_section .table_container{
        width: 100%;
        background-color: #fff;
        /* box-shadow: rgba(232, 223, 223, 0.35) 0px 5px 15px; */
        height: 400px; /* Set a fixed height for the container */
        overflow-y: auto; /* Enable vertical scrolling */
    }
.hide{
    display: none;
}