@font-face {
    font-family: 'Inter';
    src: url('./static/Inter_18pt-SemiBold.ttf') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Inter';
}

:root{
    --bg-color:#fff;
    --dg-color:#000000;
    --extra-small-font:0.70rem;
    --heading--font:1.3rem;
    ---small-font:0.80rem;
    --medium-font:1.2rem;
    --large-font:1.8rem;
    --extra-large-font:3.5rem;
    --font-color:rgb(255, 255, 255);
    --navbar-icon-color:#c4bdbd;
}

p, h3, h4, span, li {
    font-size: var(--medium-font);
}
h5, h6{
    font-size: var(--extra-small-font);
}
h1, h2{
    font-size: var(--large-font);
}
span{
    padding: 0.3rem;
}

.alert{
    display: flex;
    align-items:center;
    padding: 0.55rem 0.65rem 0.55rem 0.75rem;
    max-width:400px;
    position: fixed;
    right: 0;
    top: 0;
    justify-content: space-between;
    margin-bottom: 2rem;
    z-index: 110;
    box-shadow:
    0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
    0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
    0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
    0px 25.7px 111.7px c
    0px 48px 208.9px rgba(0, 0, 0, 0.05),
    0px 115px 500px rgba(0, 0, 0, 0.07)
  }
  .alert h2{
    color: #fff;
  }

  
  
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .message{
    display: flex;;
  }
  .icon{
    padding: 0.5rem;
    margin-right: 1rem;
    width: auto;
    height: fit-content;
    border-radius:39% 61% 42% 58% / 50% 51% 49% 50%;
    box-shadow:
    0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
    0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
    0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
    0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
    0px 48px 208.9px rgba(0, 0, 0, 0.05),
    0px 115px 500px rgba(0, 0, 0, 0.07);
  }
  .bootsrapIcon{
    font-size: 3rem;
    color: #fff;
  }
  
  .success{
    background-color: rgb(62, 189, 97);
    border:2px solid #3ebd61;
    animation: slideInDown 0.5s ease-in-out;
  }
  .success .icon{
    background-color:#3ebd61;
  }
  .info{
    background-color: rgb(0, 102, 221);
    border:2px solid #006CE3;
    animation: bounce 1s ease-in-out;
  }
  .info .icon{
    background-color: #006CE3;
  }
  .warning{
    background-color: rgb(235, 144, 0);
    border:2px solid #EF9400;
    animation: swing 0.5s ease-in-out;
  }
  .warning .icon{
    background-color: #EF9400;
  }
  
  .danger{
    background-color: rgb(236, 77, 43);
    animation: swing 0.5s ease-in-out;
    border:2px solid #EF9400;
  }
  .danger .icon{
    background-color: #EC4D2B;
  }
  
  
.navbar{
width: 100%;
height: auto;
position: fixed;
display: flex;
background-color: rgb(42, 87, 215);
justify-content: space-between;
align-items: center;
top: 0;
padding: 0.5rem;
z-index: 3;
}


.display__date{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
position:relative;
color: var(--bg-color);
font-weight: 700;
font-size: var(--heading--font);
align-items: center;
}

.profile{
display: flex;
color: #fff;
justify-content: center;
align-items: center;;
}
.profile span{
color: #ffffff;
text-transform: uppercase;;
font-size: var(--heading--font);
}

.profile .bi-caret-down-fill{
margin: 0 1rem;
cursor: pointer;
padding: 0.5rem 0.5rem;
position: relative;
}
.profile_account {
width: 300px;
position: absolute;
height: auto;
top: 100%;
background-color: rgb(42, 87, 215);
animation: fadeIn ease-in-out 0.5s;
right: 0.5%;
padding: 1rem;
display: flex;
flex-direction: column;
box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
align-items: center;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

#image_profile_account{
width: 140px;
height: 140px;
border-radius: 100%;
background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
width: 100%;
background-color: #fff;
padding: 0.7rem;
color: rgb(42, 87, 215);
border: none;
border-radius: 5px;
font-size: var(--heading--font);
transition: all  ease-in-out 0.6s;
cursor: pointer;
margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
transform: scale(0.98);
background: none;
color:rgb(255, 255, 255);
border: 1px solid #fff;
}
.profile_account span{
text-align: left;
cursor: pointer;
font-size: var(--heading--font);
}
.profile_account h3{
color: rgb(255, 255, 255);
font-size: var(--heading--font);
}
.profile img{
width: 50px;
border: 3px solid #fff;
height: 50px;
cursor: pointer;
border-radius: 100%;
}
.image{
position: relative;
}
.active_on{
position: absolute;
bottom: 5%;
right: 15%;
background-color: rgb(0, 193, 65);
width: 15px;
height: 15px;
border-radius: 100%;
}
#btn_appoitment{
padding: 0.7rem 1rem;
background-color: #fff;
border-radius: 5px;
border: none;
cursor: pointer;
color: rgb(42, 87, 215);
font-size: 12px;
transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
padding: 0.7rem 1rem;
border: 1px solid #fff;
background: none;
color: #fff;
transform: scale(0.98);
}

.sidebar{
width: 100%;
width: 230px;
height: 100%;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
border-right: 1px solid rgb(234, 232, 232);
display: flex;
background: #fff;
flex-direction: column;
justify-content: center;
z-index: 2;
align-items: center;
}
.sidebar-header{
width: 100%;
display: flex;
padding: 0.5rem;
color: rgb(42, 87, 215);
font-size: var(--extra-large-font);
justify-content: space-evenly;
align-items: center;
}
.sidebar-body{
width: 100%;
display: flex;
padding: 0.5rem;
color:rgb(42, 87, 215);
align-items: center;
}
.sidebar-body ul{
text-decoration: none;
list-style: none;
display: flex;
align-items: left;
flex-direction: column;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
border-radius: 4px;
cursor: pointer;
}

.sidebar-body ul li.available{
margin: 0.3rem 0;
padding: 0.9rem;
background-color: rgb(42, 87, 215);
width: 100%;
border-radius: 4px;
cursor: pointer;
}
.available span{
color: #fff;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
background: none;
border-radius: 4px;
cursor: pointer;
}

 button{
    background-color: #ffffff;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
}

h3{
    font-weight:normal;
    font-size: 1.3rem;;
    letter-spacing: 2px;
    }



.list_div {
    margin: 5.5rem 0 0 14.6rem;
    width: auto;
    overflow-x: auto;
}
.list_div .hide{
    display: none;
 }
 
 .search_bar_container {
    background-color: #fff;
    color:rgb(42, 87, 215);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.4em 0 0 0;
}
.search_bar_container.hide{
    display:none;
}
.search_bar_container span {
    font-size: 20px;
    letter-spacing: 3px;
  }
.search_bar_container i{
    position: absolute;
    right: 1%;
    cursor: pointer;
}


 table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    background: #2a57d7;
}

 table thead {
    position: sticky; 
    top: 0;
    z-index: 1;
    font-size: 1.1em;
    border: 1px solid #fff;
    text-align: center;
    transition: background 0.25s ease;
}
tbody tr {
  transition: background 0.25s ease;
}

table thead td{
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
 table tbody td img{
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 100%;
}
tbody tr:hover {
  background: #00185b;
}
 table tbody td {
    padding: 0.5em;
    letter-spacing: 1.5px;
    text-transform:capitalize;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 0.85em;
    cursor: pointer;
    vertical-align: center;
    font-size: 1rem;
    line-height: 1.2;
}
.disabled td {
  color: #4F5F64;
}
.accept-btn{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 0.3em 0;
    color: rgb(42, 87, 215);
    border-radius: 0.43rem;
    font-size: 1rem;
    transition: all ease-in-out 0.5s;
}
.reject-btn{
    background-color: rgb(255, 0, 0);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    border-radius: 0.43rem;
    margin: 0.3em 0;
    font-size: 1rem;
    transition: all ease-in-out 0.5s;
} 
.accept-btn:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background: none
} 
.reject-btn:hover{
    color:  rgb(255, 255, 255);
    
    border: 1px solid rgb(255, 0, 0);
    background: none
}
.hide{
    display: none;;
}
.all_sections_input{
    width: 100%;
    color: #fff;
}
h3{
    font-size: 1.3rem;
}
h4{
    font-size: 1.2rem;
    font-weight: 500;
}
.each_sections {
    display: flex;
    width: 100%;
    margin: 1em 0;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .form-control{
      margin: 1rem 0.5rem;
      display: flex;
      text-align: left;
      flex-direction: column;
      position: relative;
      color: rgb(42, 87, 215);
  }

  .radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
.radio-group label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
}
.radio-group input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-group .custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    padding: 0;
    border: 2px solid #d1d3e2;
    border-radius: 50%;
}
.radio-group input[type="radio"]:checked ~ .custom-radio {
    background-color: #4e73df;
    border-color: #4e73df;
}
.radio-group .custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-group input[type="radio"]:checked ~ .custom-radio:after {
    display: block;
}
.radio-group .custom-radio:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
  
  label{
    font-size: 1.2rem;
      color: rgb(42, 87, 215);
  }
  
  input, select,textarea {
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.1rem;
    color: rgb(42, 87, 215);
    width:300px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid rgb(42, 87, 215);
    border-radius: 4px;
    box-sizing: border-box;
  }

  /* Specific styling for checkboxes */
input[type="radio"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
    appearance: none;
    padding: 0;
    border-radius: 100%;
    -webkit-appearance: none; /* for Safari */
    -moz-appearance: none; /* for Firefox */
    background-color: #fff;
    border: 2px solid rgb(42, 87, 215);
    position: relative;
}

/* Change background color and checkmark visibility when the radio is checked */
input[type="radio"]:checked {
    background-color: rgb(42, 87, 215);
    border: 1px solid #fff;
}

input[type="radio"]:checked::after {
    content: '\2713'; /* Checkmark symbol */
    color: white;
    /* font-size: 18px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  input[type=submit] {
    width: 100%;
    background-color: rgb(42, 87, 215);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(42, 87, 215);
  }
/*PATIENT PERSONAL INFORMATION*/
.info_dropdown{
    width: auto;
    display: flex;
    padding:1rem;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    background-color: #2a57d7;
    cursor: pointer;
}
.info_dropdown span{
    font-size: 18px;
}

#info_icon_minus{
    display: none;
}
.info_section{
    height: fit-content;
    background-color: #2a57d7;
    padding: 1rem;
}
.info_title{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;;
    padding: 1rem;
}
.info_section .circle{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}
.personal_info_section{
    height: fit-content;
    width: auto;
    margin: 1rem 1rem;
    border-bottom: 1px solid #fff;
}
.personal_info_section .details_flexs{
    display: flex;
}

/*LAB INFORMATION*/
.lab_dropdown{
    width: auto;
    display: flex;
    padding:1rem;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    background-color: #2a57d7;
    cursor: pointer;
}
.lab_dropdown span{
    font-size: 18px;
}

#lab_icon_minus{
    display: none;
}
.lab_section{
    height: fit-content;
     background-color: #2a57d7;
}

.lab_section button{
    padding: 0.8rem;
    background-color: #2a57d7;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out 0.5s;
}


/*SURGERY INFORMATION*/
.surgery_dropdown{
    width: auto;
    display: flex;
    padding:1rem;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    background-color: #2a57d7;
    cursor: pointer;
}
.surgery_dropdown span{
    font-size: 18px;
}

#surgery_icon_minus{
    display: none;
}
.surgery_section{
    height: fit-content;
     background-color: #2a57d7;
}

.surgery_section button{
    padding: 0.8rem;
    background-color: #2a57d7;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all ease-in-out 0.5s;
}

/*RADIOLOGY INFORMATION*/
.radiology_dropdown{
    width: auto;
    display: flex;
    padding:1rem;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    background-color: #2a57d7;
    cursor: pointer;
}
.radiology_dropdown span{
    font-size: 18px;
}

#radiology_icon_minus{
    display: none;
}
.radiology_section{
    height: fit-content;
     background-color: #2a57d7;
}
.radiology_section button{
    padding: 0.8rem;
    background-color: #2a57d7;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

/*VITALS  INFORMATION*/
.vitals_dropdown{
    width: auto;
    display: flex;
    padding:1rem;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    cursor: pointer;
}
.vitals_dropdown span{
    font-size: 18px;
}

#vitals_icon_minus{
    display: none;
}
.vitals_section{
    height: fit-content;
     background-color: #2a57d7;
}



/*Doctor Inputs */

.all_sections_input.not_show{
    display: none;
}
/*Start of the complaints Section*/
.complain_dropdown{
    width: 100%;
    display: flex;
    padding:1rem;
    font-size: 18px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    cursor: pointer;
}
.complain_dropdown span{
    font-size: 18px;
}

#complaint_icon_minus{
    display: none;
}
.complaint-section{
    height: fit-content;;
     background-color: #2a57d7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}
form{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}


.btn_book_appoitment{
    background-color: #fff;
    border: none;
    padding:1rem;
    width: fit-content;
    border-radius: 0.43rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    color: #2a57d7;
    font-size: 1rem;
}
.btn_book_appoitment:hover{
    background:none;
    border:1px solid #fff;
    padding:1rem;
    width: fit-content;
    color:#ffffff;
}
    .complaint_form-control-appoitment{
        width: 300px;
        height: 150px;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }
#btn{
    width: auto;
    margin: 1rem 0;
    border-radius: 0.43rem;
    background-color: #2a57d7;
    border: none;
    color: #fff;
    padding: 1em;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
#btn:hover{
    border: 1px solid #2a57d7;;
    color: #2a57d7;;
    background:none;
}

/*End of the complaints Section*/

/**Start of the System review Section*/
.system_dropdown{
    width: 100%;
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}

 #system_icon_minus{
    display: none;
 }
.system_review-section{
    height: fit-content;
    width: 100%;
     background-color: #2a57d7;;
    padding: 1rem;
}
.drop-down1, .drop-down2,  .drop-down3, .drop-down4, .drop-down5{
   border-bottom: 4px solid #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.system_review-section span{
    color: #fff;
    font-size: 15px;
}
#open_id_1, #close_id_1, #open_id_2, #close_id_2, #open_id_3, #close_id_3,
#open_id_4, #close_id_4, #open_id_5{
    color: #fff;
    font-size: 20px;
}
#close_id_1, #close_id_2, #close_id_3, #close_id_4, #close_id_5{
    display: none;
}
/* .active{
    display: none;
} */
.form1, .form2, .form3, .form4, .form5{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Start of the Physical Examination*/
.physical_dropdown{
    width: 100%;
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}
.physical_examination-section{
    height: fit-content;
    width: 100%;
     background-color: #2a57d7;;
    padding: 1rem;
}
.physical_examination_drop-down1, .physical_examination_drop-down2,.physical_examination_drop-down3{
   border-bottom: 4px solid #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#physical_icon_minus{
    display: none;
}
.physical_examination-section span{
    color: #fff;
    font-size: 15px;
}
#physical_examination_icon_plus1, #physical_examination_icon_minus1, #physical_examination_icon_plus2, #physical_examination_icon_minus2
#physical_examination_icon_plus3, #physical_examination_icon_minus3{
    color: #fff;
    font-size: 20px;
}
#physical_examination_icon_minus1, #physical_examination_icon_minus2,
#physical_examination_icon_minus3{
    display: none;
}
form{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.physical_examination_form-control{
    width: 300px;
    height: 150px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
label {
    color: #fff;
    font-size: 1.3rem;
    margin: 1rem 0;
}


/* .active{
    display: none;
} */
.physical_examination_form1, .physical_examination_form2, .physical_examination_form3,
.physical_examination_form4, .physical_examination_form5,.physical_examination_form6{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Start of diagnosis_dropdown*/
.diagnosis_dropdown{
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color:#2a57d7;
    font-size: 18px;
    cursor: pointer;
}
#diagnosis_icon_minus{
    display: none;
}
.diagnosis-section{
    height: fit-content;;
     background-color: #2a57d7;;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Start of Refer to Doctor*/
.refer_doc_dropdown{
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}
#refer_doc_icon_minus{
    display: none;
}
.refer_doc-section{
    height: fit-content;;
     background-color: #2a57d7;;
    padding: 1rem;
    position: relative;
}
.refer_doc_form_control{
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}
.appoitment_con{
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1200;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.appoitment_con form .form-control label{
    color: rgb(42, 87, 215);;
}
.appoitment_con form .form-control input{
    color: rgb(42, 87, 215);;
    border-bottom: 1px solid rgb(42, 87, 215);;
}
.appoitment_con form .form-control select{
    color: rgb(42, 87, 215);;
    border-bottom: 1px solid rgb(42, 87, 215);;
}
.appoitment_con form .form-control textarea{
    color: rgb(42, 87, 215);;
    border: 1px solid rgb(42, 87, 215);;
}
.appoitment_con .close_icon{
    cursor: pointer;
   position: absolute;
   right:3%;
   color: #2a57d7;
}

.appoitment_con form .form_control{
display: flex;
flex-direction: column;
width: 100%;
}
.appoitment_con form .form_control select{
    padding: 1em;
    background-color: #fff;
    border: 1px solid #fff;
}
.appoitment_con button{
    width: auto;
    border-radius: 0.43rem;
    background-color: #2a57d7;
    border: none;
    color: #fff;
    padding: 1em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.appoitment_con button:hover{
    border: 1px solid #2a57d7;;
    color: #2a57d7;;
    background:none;
}

/*Start of Advice*/
.advice_dropdown{
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}
#advice_icon_minus{
    display: none;
}
.advice-section{
    height: fit-content;;
     background-color: #2a57d7;;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    position: relative;
}
.advice-section span{
   padding: 1em;
}

/*Start of Investigation and Procdure*/
.investigation_dropdown{
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}
#investigation_icon_minus{
    display: none;
}
.investigation-section{
    height: fit-content;;
     background-color: #2a57d7;;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: start;
    position: relative;
}


/*Start of the Treatment and Prescribtion*/
.treatment_prescribtion-section{
    height: fit-content;;
    background-color: #2a57d7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    position: relative;
}
.treatment_prescribtion_dropdown{
    display: flex;
    padding:1rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}
.treatment_prescribtion_form1{
    width: 100%;
     background-color: #2a57d7;;
    border-radius: 14px;
}
.treatment_prescribtion_flexs{
    display: flex;
    flex-wrap: wrap;
     background-color: #2a57d7;
    align-items: center;
    border-bottom: 2px solid #fff;
    height: fit-content;
    padding: 1rem 1rem;
    margin: 2rem 0;
}
.treatment_prescribtion_form-control{
    width: auto;
    margin: 0rem 0.4em;
    display: flex;
    flex-direction: column;
}
#treatment_prescribtion_minus{
    display: none;
}

#prescribe_close{
    position: absolute;
    top: 55%;
    cursor: pointer;
    left: 96%;
    font-size: 18px;
}

#btn_prescribe{
    width: 30%;
    background-color: rgb(255, 255, 255); 
    height: fit-content;
    padding: 1rem;
    border: none;
    margin: 1rem auto;
    cursor: pointer;
    transition: 0.5s;
  
}
#btn_prescribe:hover{
    background-color: rgb(42, 87, 215);
    color: #ffffff;
}
.discharged_dropdown{
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}

#discharged_icon_minus{
    display: none;
}
.discharged-section{
    height: fit-content;
     background-color: #2a57d7;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    align-items: left;
    justify-content: start;
    position: relative;
}
.off_on_button{
    width: fit-content;
    height: fit-content;
}

.discharged-section #discharge_off{
    color: yellow;
    font-size: 30px;
    cursor: pointer;
}
.discharged-section #discharge_on{
    color: rgb(0, 255, 0);
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.discharge_form{
    width: 50%;
}
.discharge_form form{
    display: flex;
    flex-direction: column;
}

/*COMFIRMED DEATH SECTION*/
.confirmed_death_dropdown{
    display: flex;
    padding:1rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2a57d7;
    font-size: 18px;
    cursor: pointer;
}

#confirmed_death_icon_minus{
    display: none;
}
.confirmed_death-section{
    height: fit-content;
     background-color: #2a57d7;
    padding: 1rem;
    display: flex;
    border: 2px solid #fff;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    position: relative;
}

.off_on_button{
    width: fit-content;
    height: fit-content;
}

.confirmed_death-section #confirmed_death_off{
    color: yellow;
    font-size: 30px;
    cursor: pointer;
}
.confirmed_death-section #confirmed_death_on{
    color: red;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.confirmed_death_form{
    width: 50%;
}
.confirmed_death_form form{
    display: flex;
    flex-direction: column;
}


/*DEATH FORM*/

  .appoitment_con #close-icon{
    position: absolute;
    left: 0;
    margin-top: 1rem;
    cursor: pointer;
    margin-left: 30rem;
    position: relative;
    color: rgba(14, 7, 7, 0.9);
    top: 0;
  }
 .death_form_booking h3{
    color: #2a57d7;
    font-weight: normal;
    text-align: center;
  }
 .death_form_booking .bi-x-square{
    color: #2a57d7;
    font-weight: normal;
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 1%;
  }


/* Style for hidden checkboxes */
.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

/* General style for labels acting as checkbox */
.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center the label text with the custom checkbox */
}

/* Styling for the custom checkbox appearance */
.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #ffffff;;
    transition: all 0.2s ease;
    margin-right: 8px; /* Space between the checkbox and the label text */
}

/* SVG inside the custom checkbox */
.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 50%;
    left: 42%;
    fill: none;
    stroke: rgb(42, 87, 215);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}

/* Hover effect for the custom checkbox */
.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #ffffff;
}

/* Style changes when the checkbox is checked */
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #ffffff;
    border-color: #ffffff;
    animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: block;
    transform: scale(3.5);
    opacity: 0;
    border-radius: 50%;
    transition: all 0.6s ease;
}

/* Animation effect for the checkbox background */
@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}




  /* MODAL WINDOW */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #ffffff;
    padding:1rem 5rem;
    overflow: auto;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 0.5s;
  }
  #death--booking{
    height: 80%;
  }
  .modal h1, span,h2 {
    color: rgb(42, 87, 215);
  }
  .modal form h3{
    color: rgb(42, 87, 215);
  }
  .modal label{
    color: rgb(42, 87, 215);
  }

  
  .black--background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 4;
    transition: all 0.5s;
  }
  
  .modal__header {
    font-size: 3.25rem;
    line-height: 1.5;
  }
  
  .modal__form {
    align-items: center;
    overflow: auto;
    width: 100%;
    overflow-x: hidden;
    height: 450px;
    gap: 2.5rem;
  }
  
  
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    color: #4e73df;
    cursor: pointer;
    border: none;
    background: none;
  }

.hide{
    display: none;
}
.hidden{
    display: none;
}


.overlay-div{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0, 0, .8);
    z-index: 1000;
    display: none;
}