@font-face {
    font-family: 'SEGOEUI';
    src: url('awesome-font/css/SEGOEUI.TTF') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 2s ease-in-out;
}
:root{
    --bg-color:#fff;
    --dg-color:#000000;
    --extra-small-font:0.70rem;
    ---small-font:0.80rem;
    --medium-font:1.2rem;
    --large-font:1.8rem;
    --extra-large-font:3.5rem;
    --font-color:rgb(42, 87, 215);
    --navbar-icon-color:#c4bdbd;
}

p, h3, h4, span, li {
    font-size: var(--medium-font);
    color: var(--font-color);
}
h5, h6{
    font-size: var(--extra-small-font);
}
h1, h2{
    font-size: var(--large-font);
    color: var(--font-color);
}
span{
    padding: 0.3rem;
}
.alert_div{
width: auto;
height: auto;
max-height: 100%;
max-width: 350px;
position: fixed;
top:0%;
right: 0%;
z-index: 110;
overflow: auto;
color: rgb(255, 255, 255);;
background-color: red;
padding: 1em;
border-bottom-left-radius: 20px;
font-size: 1.4rem;
animation: headShake 1s ease-in-out;
}
.alert_div.pending{
background-color:blue;
}
.alert_div.successful{
background-color: green;
}

.navbar{
width: 100%;
height: auto;
position: fixed;
display: flex;
background-color: rgb(42, 87, 215);
justify-content: space-between;
align-items: center;
top: 0;
padding: 0.5rem;
z-index: 3;
}


.display__date{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
position:relative;
color: var(--bg-color);
font-weight: 700;
font-size: var(--medium-font);
align-items: center;
}

.profile{
display: flex;
color: #fff;
justify-content: center;
align-items: center;;
}
.profile span{
color: #ffffff;
}

.profile .bi-caret-down-fill{
margin: 0 1rem;
cursor: pointer;
padding: 0.5rem 0.5rem;
position: relative;
}
.profile_account {
width: 300px;
position: absolute;
height: auto;
top: 100%;
background-color: rgb(42, 87, 215);
animation: fadeIn ease-in-out 0.5s;
right: 0.5%;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

#image_profile_account{
width: 140px;
height: 140px;
border-radius: 100%;
background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
width: 100%;
background-color: #fff;
padding: 0.7rem;
color: rgb(42, 87, 215);
border: none;
border-radius: 5px;
font-size: 1rem;
transition: all  ease-in-out 0.6s;
cursor: pointer;
margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
transform: scale(0.98);
background: none;
color:rgb(255, 255, 255);
border: 1px solid #fff;
}
.profile_account span{
text-align: left;
cursor: pointer;
}
.profile_account h3{
color: rgb(255, 255, 255);
}
h3{
font-weight:normal;
font-size: 1.3rem;;
letter-spacing: 2px;
color: rgb(42, 87, 215);
}
.profile img{
width: 50px;
border: 3px solid #fff;
height: 50px;
cursor: pointer;
border-radius: 100%;
}
.image{
position: relative;
}
.active_on{
position: absolute;
bottom: 5%;
right: 15%;
background-color: rgb(0, 193, 65);
width: 15px;
height: 15px;
border-radius: 100%;
}
#btn_appoitment{
padding: 0.7rem 1rem;
background-color: #fff;
border-radius: 5px;
border: none;
cursor: pointer;
color: rgb(42, 87, 215);
font-size: 12px;
transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
padding: 0.7rem 1rem;
border: 1px solid #fff;
background: none;
color: #fff;
transform: scale(0.98);
}

.sidebar{
width: 100%;
width: 300px;
height: 100%;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
border-right: 1px solid rgb(234, 232, 232);
display: flex;
background: #fff;
flex-direction: column;
justify-content: center;
z-index: 2;
}
.sidebar-header{
width: 100%;
display: flex;
padding: 0.5rem;
color: rgb(42, 87, 215);
font-size: var(--extra-large-font);
justify-content: space-evenly;
align-items: center;
}
.sidebar-body{
width: 100%;
display: flex;
padding: 0.5rem;
color:rgb(42, 87, 215);
align-items: center;
}
.sidebar-body ul{
text-decoration: none;
list-style: none;
display: flex;
align-items: left;
flex-direction: column;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
border-radius: 4px;
cursor: pointer;
}

.sidebar-body ul li.active{
margin: 0.3rem 0;
padding: 0.9rem;
background-color: rgb(42, 87, 215);
width: 100%;
border-radius: 4px;
cursor: pointer;
}
.active span{
color: #fff;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
background: none;
border-radius: 4px;
cursor: pointer;
}

.list_div {
    margin: 5.5rem 0 0 19rem;
    width: auto;
    overflow-x: auto;
}
.list_div .hide{
    display: none;
 }
 
 .search_bar_container {
    background-color: #fff;
    color:rgb(42, 87, 215);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.4em 0 0 0;
}
.search_bar_container span {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
.search_bar_container i{
    position: absolute;
    right: 1%;
    cursor: pointer;
}


 table {
    width: 100%;
    font-weight: 700;
    border-collapse: collapse;
}

 table thead {
    background-color: #fff; 
    position: sticky; 
    top: 0;
    z-index: 1; 
    background-color: #fff; 
    font-size: 1.3em;
    text-align: center;
}
table thead  td{
    color: rgb(42, 87, 215);
    padding: 0.5em;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: .77em .58em .74em .58em;
      padding-right: 0.58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    line-height: 1.2;
}
 table tbody td img{
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 100%;
}

 table tbody td {
    padding: 0.5em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 87, 215);
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 0.95rem;
    cursor: pointer;
    vertical-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
}

.each_sections {
    display: flex;
    width: 100%;
    margin: 1em 0;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .form-control{
      margin: 1rem 0.5rem;
      display: flex;
      text-align: left;
      flex-direction: column;
      position: relative;
      color: rgb(42, 87, 215);
  }

  .radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
.radio-group label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
}
.radio-group input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-group .custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    padding: 0;
    border: 2px solid #d1d3e2;
    border-radius: 50%;
}
.radio-group input[type="radio"]:checked ~ .custom-radio {
    background-color: #4e73df;
    border-color: #4e73df;
}
.radio-group .custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-group input[type="radio"]:checked ~ .custom-radio:after {
    display: block;
}
.radio-group .custom-radio:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
  
  label{
    font-size: 1.2rem;
      color: rgb(42, 87, 215);
  }
  
  input, select,textarea {
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.1rem;
    color: rgb(42, 87, 215);
    width:300px;
    display: inline-block;
    border: 1px solid rgb(42, 87, 215);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(42, 87, 215);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(42, 87, 215);
  }
  

   .btn_submit{
    width: auto;
    background-color: rgb(42, 87, 215);
    padding: 0.7rem;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
    }
 
    .btn_submit:hover{
      background:none;
      border: 1px solid rgb(42, 87, 215);
      color: rgb(42, 87, 215);
    }




  /* MODAL WINDOW */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #ffffff;
    padding:1rem 5rem;
    overflow: auto;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 0.5s;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 4;
    transition: all 0.5s;
  }
  
  .modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
  }
  
  .modal__form {
    /* margin: 0 3rem; */
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */
    align-items: center;
    overflow: auto;
    width: 100%;
    overflow-x: hidden;
    height: 450px;
    gap: 2.5rem;
  }
  
  
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    color: #4e73df;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
.hide{
    display: none;
}