@font-face {
    font-family: 'SEGOEUI';
    src: url('awesome-font/css/SEGOEUI.TTF') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* animation: fadeIn 2s ease-in-out; */
}
:root{
    --bg-color:#fff;
    --dg-color:#000000;
    --extra-small-font:0.70rem;
    ---small-font:0.80rem;
    --medium-font:1.2rem;
    --large-font:1.8rem;
    --extra-large-font:3.5rem;
    --font-color:rgb(42, 87, 215);
    --navbar-icon-color:#c4bdbd;
}

p, h3, h4, span, li {
    font-size: var(--medium-font);
    color: var(--font-color);
}
h5, h6{
    font-size: var(--extra-small-font);
}
h1, h2{
    font-size: var(--large-font);
    color: var(--font-color);
}
span{
    padding: 0.3rem;
}
.alert_div{
width: auto;
height: auto;
max-height: 100%;
max-width: 350px;
position: fixed;
top:0%;
right: 0%;
z-index: 110;
overflow: auto;
color: rgb(255, 255, 255);;
background-color: red;
padding: 1em;
border-bottom-left-radius: 20px;
font-size: 1.4rem;
animation: headShake 1s ease-in-out;
}
.alert_div.pending{
background-color:blue;
}
.alert_div.successful{
background-color: green;
}

.navbar{
width: 100%;
height: auto;
position: fixed;
display: flex;
background-color: rgb(42, 87, 215);
justify-content: space-between;
align-items: center;
top: 0;
padding: 0.5rem;
z-index: 3;
}


.display__date{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
position:relative;
color: var(--bg-color);
font-weight: 700;
font-size: var(--medium-font);
align-items: center;
}

.profile{
display: flex;
color: #fff;
justify-content: center;
align-items: center;;
}
.profile span{
color: #ffffff;
}

.profile .bi-caret-down-fill{
margin: 0 1rem;
cursor: pointer;
padding: 0.5rem 0.5rem;
position: relative;
}
.profile_account {
width: 300px;
position: absolute;
height: auto;
top: 100%;
background-color: rgb(42, 87, 215);
animation: fadeIn ease-in-out 0.5s;
right: 0.5%;
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

#image_profile_account{
width: 140px;
height: 140px;
border-radius: 100%;
background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
width: 100%;
background-color: #fff;
padding: 0.7rem;
color: rgb(42, 87, 215);
border: none;
border-radius: 5px;
font-size: 1rem;
transition: all  ease-in-out 0.6s;
cursor: pointer;
margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
transform: scale(0.98);
background: none;
color:rgb(255, 255, 255);
border: 1px solid #fff;
}
.profile_account span{
text-align: left;
cursor: pointer;
}
.profile_account h3{
color: rgb(255, 255, 255);
}
h3{
font-weight:normal;
font-size: 1.3rem;;
letter-spacing: 2px;
color: rgb(42, 87, 215);
}
.profile img{
width: 50px;
border: 3px solid #fff;
height: 50px;
cursor: pointer;
border-radius: 100%;
}
.image{
position: relative;
}
.active_on{
position: absolute;
bottom: 5%;
right: 15%;
background-color: rgb(0, 193, 65);
width: 15px;
height: 15px;
border-radius: 100%;
}
#btn_appoitment{
padding: 0.7rem 1rem;
background-color: #fff;
border-radius: 5px;
border: none;
cursor: pointer;
color: rgb(42, 87, 215);
font-size: 12px;
transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
padding: 0.7rem 1rem;
border: 1px solid #fff;
background: none;
color: #fff;
transform: scale(0.98);
}

.sidebar{
width: 100%;
width: 300px;
height: 100%;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
border-right: 1px solid rgb(234, 232, 232);
display: flex;
background: #fff;
flex-direction: column;
justify-content: center;
z-index: 2;
}
.sidebar-header{
width: 100%;
display: flex;
padding: 0.5rem;
color: rgb(42, 87, 215);
font-size: var(--extra-large-font);
justify-content: space-evenly;
align-items: center;
}
.sidebar-body{
width: 100%;
display: flex;
padding: 0.5rem;
color:rgb(42, 87, 215);
align-items: center;
}
.sidebar-body ul{
text-decoration: none;
list-style: none;
display: flex;
align-items: left;
flex-direction: column;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
border-radius: 4px;
cursor: pointer;
}

.sidebar-body ul li.active{
margin: 0.3rem 0;
padding: 0.9rem;
background-color: rgb(42, 87, 215);
width: 100%;
border-radius: 4px;
cursor: pointer;
}
.active span{
color: #fff;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
background: none;
border-radius: 4px;
cursor: pointer;
}


.alert{
  display: flex;
  align-items:center;
  padding: 0.55rem 0.65rem 0.55rem 0.75rem;
  min-width:400px;
  position: fixed;
  right: 0;
  top: 0;
  justify-content: space-between;
  margin-bottom: 2rem;
  z-index: 110;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px c
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.alert h2{
  color: #fff;
}

.content{
  display: flex;
  align-items:center;
}
.icon{
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius:39% 61% 42% 58% / 50% 51% 49% 50%;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.bootsrapIcon{
  font-size: 3rem;
  color: #fff;
}

.success{
  background-color: rgb(62, 189, 97);
  border:2px solid #3ebd61;
  animation: slideInDown 0.5s ease-in-out;
}
.success .icon{
  background-color:#3ebd61;
}
.info{
  background-color: rgb(0, 102, 221);
  border:2px solid #006CE3;
  animation: bounce 1s ease-in-out;
}
.info .icon{
  background-color: #006CE3;
}
.warning{
  background-color: rgb(235, 144, 0);
  border:2px solid #EF9400;
  animation: swing 0.5s ease-in-out;
}
.warning .icon{
  background-color: #EF9400;
}

.danger{
  background-color: rgb(236, 77, 43);
  animation: swing 0.5s ease-in-out;
  border:2px solid #EF9400;
}
.danger .icon{
  background-color: #EC4D2B;
}







.list_div {
    margin: 5.5rem 0 0 19rem;
    width: auto;
    overflow-x: auto;
}
.list_div .hide{
    display: none;
 }
 
 .search_bar_container {
    background-color: #fff;
    color:rgb(42, 87, 215);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.4em 0 0 0;
}
.search_bar_container span {
    font-size: 20px;
    letter-spacing: 3px;
  }
.search_bar_container i{
    position: absolute;
    right: 1%;
    cursor: pointer;
}


 table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
    background: #2a57d7;
}

 table thead {
    position: sticky; 
    top: 0;
    z-index: 1;
    font-size: 1.1em;
    border: 1px solid #fff;
    text-align: center;
    transition: background 0.25s ease;
}
tbody tr {
  transition: background 0.25s ease;
}

table thead td{
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
 table tbody td img{
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 100%;
}
tbody tr:hover {
  background: #00185b;
}
 table tbody td {
    padding: 0.5em;
    letter-spacing: 1.5px;
    text-transform:capitalize;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 0.85em;
    cursor: pointer;
    vertical-align: center;
    font-size: 1rem;
    line-height: 1.2;
}
.disabled td {
  color: #4F5F64;
}

/* .activeStaff{
  background-color: orange;
  border-radius: 100%;
  width: 30px;
  height: 30px;
} */

.notActiveStaff{
  background-color: orange;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: 0 3rem;
}

.each_sections {
    display: flex;
    width: 100%;
    margin: 1em 0;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .form-control{
      margin: 1rem 0.5rem;
      display: flex;
      text-align: left;
      flex-direction: column;
      position: relative;
      color: rgb(42, 87, 215);
  }

  .radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}
.radio-group label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
}
.radio-group input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio-group .custom-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    padding: 0;
    border: 2px solid #d1d3e2;
    border-radius: 50%;
}
.radio-group input[type="radio"]:checked ~ .custom-radio {
    background-color: #4e73df;
    border-color: #4e73df;
}
.radio-group .custom-radio:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-group input[type="radio"]:checked ~ .custom-radio:after {
    display: block;
}
.radio-group .custom-radio:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
  
  label{
    font-size: 1.2rem;
      color: rgb(42, 87, 215);
  }
  
  input, select,textarea {
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1.1rem;
    color: rgb(42, 87, 215);
    width:300px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid rgb(42, 87, 215);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(42, 87, 215);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(42, 87, 215);
  }
  .passport{
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(196, 191, 191, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 100%;
    text-align: center;
  }
  #openCamera{
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 100%;
    padding: 0.5rem;
    position: absolute;
    right: 12%;
    bottom: 17%;
    background-color: rgb(42, 87, 215);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #openCamera.hide{
    display: none;
  }
  #capturedPassport{
    position: absolute;
  }
  .capture__div{
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

    
    /* CSS */
    .btn_submit {
      background-color: #0078d0;
      border: 0;
      border-radius: 56px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
      font-size: 18px;
      font-weight: 600;
      outline: 0;
      padding: 16px 21px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all .3s;
      user-select: none;
      margin: 0.5rem;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .btn_submit:before {
      background-color: initial;
      background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
      border-radius: 125px;
      content: "";
      height: 50%;
      left: 4%;
      opacity: .5;
      position: absolute;
      top: 0;
      transition: all .3s;
      width: 92%;
    }
    
    .btn_submit:hover {
      box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
      transform: scale(1.05);
    }
    
    @media (min-width: 768px) {
      .btn_submit {
        padding: 16px 48px;
      }
    }
    
 



  /* MODAL WINDOW */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #ffffff;
    padding:1rem 5rem;
    overflow: auto;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 0.5s;
  }
  #staffInfo{
    width: 80%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 4;
    transition: all 0.5s;
  }
  
  .modal__header {
    font-size: 3.25rem;
    line-height: 1.5;
  }
  
  .modal__form {
    align-items: center;
    overflow: auto;
    width: 100%;
    overflow-x: hidden;
    height: 450px;
    gap: 2.5rem;
  }
  
  
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    color: #4e73df;
    cursor: pointer;
    border: none;
    background: none;
  }



  /*popup modal*/

  .black_blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    z-index: 7;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  #staffProfile{
    background: linear-gradient(45deg, #061d45 30%, #fff 30%);
    width: auto;
    border-radius: 1rem;
  }
  .staffPro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .staffPro img{
    border-radius: 100%;
    width: 12rem;
    border: 7px solid aliceblue;
    height: 12rem;
  }
  .userNameId{
    margin: 0 3rem;
    font-size: 1.5rem;
  color: #4e73df;
  font-style: oblique;
  font-weight: 700;
  }
  #selectOption{
    width: auto;
    padding: 0;
    border-radius: 1rem;
  }
  #viewmore{
    cursor: pointer;
    width: fit-content;
  }


  #staffData tbody tr {
    background: #00185b;
  }
  #staffData tbody td{
    font-size: 1.2rem;
    text-align: left;
  }
  #staffData #downloadIcon{
    color: #fff;
    /* font-size: 2rem; */
  }
/*staff tracking*/
.clockinoutDiv{
  display: flex;
justify-content: space-between;
width: 100%;
}
#staffTracking {
  width: 30%;
}
#clockInForm, #clockOutForm{
  width: 20%;
}
#fingerPrint{
  width: fit-content;

}
.bi-fingerprint{
  font-size:0.98rem;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
#fingerPrint .bi-fingerprint {
  font-size: 5rem;
  color: #0078d0;
}
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
.hide{
    display: none;
}