*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contents{
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(4 47 46);
    display: flex;
    align-items: center;
    box-shadow: 0 3rem 5rem rgba(231, 229, 229, 0.3);
}
h1{
    margin-left: 12rem;
    color: rgb(255, 255, 255);
}
.sidebar{
    position: fixed;
    width: 80px;
    height: 100%;
    background-color:rgb(4 47 46);
    transition: 0.2s;
    align-items: start;
    z-index: 999;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    top: 0;
    flex-direction: column;
}

.sidebar.active{
    width: 300px;
}
.togglebar .fa-times{
    display: none;
    cursor: pointer;
}

.togglebar{
    color: #fff;
    margin-top: 12px;
    border-bottom: 1px solid #fff;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.checkbar{
    color: rgb(4 47 46);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    margin-top: 15rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.checkbar .fa{
    position: relative;
    width: 100%;
    border-radius: 12px;
    margin: 2rem;
    border: 8px solid transparent;
    transition: 2s;
    cursor: pointer;
}
.checkbar .fa.active{
    transform: translateX(20px);
    background-color: rgb(255, 255, 255) ;
    padding: 0.5rem;
}

.checkbar .fa.active:hover{
    background-color: rgb(4 47 46);
    color: #ffffff;
}

.fa-bars{
    padding: 1rem;
    cursor: pointer;
}
.add-new{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-around; 
}
h2{
    color: rgb(0, 123, 121);
    font-size: 2rem;
}
#btn{
   border: none;
   background-color: rgb(4 47 46);
   width:180px;
   color:rgb(255, 255, 255); ;
   padding: 1rem;;
   font-size: 1.5rem;
   cursor: pointer;
   height: 50px;
    border-radius: 6px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in 0.5s;
}

#btn:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(4 47 46);
    border: 2px solid rgb(4 47 46);
}
.drop-down{
    width: fit-content;
    height: fit-content;
    position: fixed;;
    right: 23%;
    top: 20%;
}
.hidden{
    display: none;
}
#btn-drop-down{
background-color: rgb(0, 123, 121); ;;
    border: none;
    color:rgb(0, 123, 121); ;
    padding: 0.6rem;;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
     border-radius: 6px ;
     display: flex;
     justify-content: space-between;
     align-items: center;
     transition: all ease-in 0.5s;
}
#btn-drop-down:hover{
    background-color: #fff;
    color: black;
}
.activities{
    width: 100%;
    height:100%;
    background-color:  rgb(0, 123, 121); ;;;
  border-radius: 7px;
}
.three-container-row{
    display: flex;
    flex-direction: row;
    margin: 0.4rem auto;
    justify-content: center
}

.activities-container{
    width: 300px;
    height: fit-content;
    border-radius: 7px;
    padding: 1rem;
    cursor: pointer;
    background-color:  rgb(255, 255, 255); ;;
    margin: 1rem 1rem;
    color: #000000;
    transition: all ease-in-out 0.5s;
}   

.activities-container:hover{
    transform: scale(0.92);
    background-color: rgb(4 47 46);
    color: #fff;
}
#delete-schedule{
    width: 100%;
    cursor: pointer;
    padding: 0.6rem 0;
    border: none;
    margin: 1rem 0;
}
#edit-schedule{
    width: 100%;
    cursor: pointer;
    padding: 0.6rem 0;
    border: none;
    margin: 1rem 0;
}
.event-form{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
.fc-toolbar h2{
    color:   rgb(0, 123, 121);
}
.fc-month-button .fc-button .fc-state-default .fc-corner-left .fc-state-active {
    background-color: red;
}
.doctors-roles{
    width: 40%;
   position: absolute;
   top: 100%;
   left: 50%;
    transform: translate(-50%, 100%);
    background-color:  rgb(0, 123, 121); 
    color: #fff;
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.doctors-roles.hidden{
    display: none;
}

label
{
font-size: 15px;
margin: 0.5rem 0;
}
select{
    padding: 1rem;
    border: none;
    background-color: #fff;
    font: 15px;
    cursor: pointer;
}
#continue{
    width: 100%;
    border-radius: 4px;
    padding: 1rem;
    border: none;
    background-color: #fff;
    margin: 1rem 0;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    /* font-size: 20px; */
}
#continue:hover{
    background-color: rgb(4 47 46);
    color: #fff;
}
.appoitment-calender{
    width: 100%;
   display: flex;
   position: relative;
   padding: 1rem;
   flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 0 auto; 
    border-radius: 6px;
    color: #000000;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
}
#selectedDate{
    text-align: left;
    color: #fff;
    background-color: #fff;
    color: #000000;
    padding: 0.7rem;
    width: fit-content;
    font-size: 20px;
}

.hidden{
    display: none;
}
.appoitment-form{
    width: 500px;
  background-color:rgb(0, 123, 121); 
    padding: 2rem;
    height: fit-content;
    border-radius: 6px;
}

#form{
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
}
.form-control{
    width: 100%;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    /* padding: 1rem; */
}
label{
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
}
h2{
    color: #fff;
}
input{
    width: 350px;
    border: 3px solid #000000;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
}
#sub{
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
#sub:hover{
    background-color: #000000;
    color: #fff;
}

.calendar{
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0,0.5rem 3rem rgba(0,0,0,0.4);
    color: #fff;
    margin: 0 1rem;
}
.month{
    width: 100%;
    height: 12rem;
    background-color :rgb(0, 123, 121); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
   text-align: center;
}

.month i{
    font: 2.5rem;
    cursor: pointer;
}
.month h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p{
    font-size: 1.6rem;
}


.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}
.weekdays div{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7  );
    display: flex;
    justify-content: center;
    align-self: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}
.days div{
    font-size: 1rem;
    margin: 0.3rem;
    width: calc(40.2rem/7 );
    height: 5rem;
    display: flex;;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover:not(.today){
    background-color: #12121f;
    border:0.2rem solid #777;
    cursor: pointer;
}

.prev-date{
    opacity: 0.5;
}

.next-date{
    opacity: 0.5;
}
.content{
    color: #db0000;
    font-size: 2rem;
}
.clicked {
    background-color: #aaffaa; /* Light green color for clicked date */
  }

.today{
    background-color: #167e56;
}