@font-face {
    font-family: 'SEGOEUI';
    src: url('SEGOEUI.TTF') format('truetype'); 
    font-weight: normal; /* Specify the weight if needed */
    font-style: normal; /* Specify the style if needed */
  }
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            animation: fadeIn 2s ease-in-out;
        }
        :root{
            --bg-color:#fff;
            --dg-color:#000000;
            --extra-small-font:0.70rem;
            ---small-font:0.80rem;
            --medium-font:1.2rem;
            --large-font:1.8rem;
            --extra-large-font:3.5rem;
            --font-color:rgb(42, 87, 215);
            --navbar-icon-color:#c4bdbd;
        }
        
        p, h3, h4, span, li {
            font-size: var(--medium-font);
            color: var(--font-color);
        }
        h5, h6{
            font-size: var(--extra-small-font);
        }
        h1, h2{
            font-size: var(--large-font);
            color: var(--font-color);
        }
        span{
            padding: 0.3rem;
        }
.alert_div{
    width: auto;
    height: auto;
    max-width: 350px;
    position: fixed;
    top:0%;
    right: 0%;
    z-index: 2000;
    color: rgb(255, 255, 255);;
    background-color: red;
    padding: 1em;
    animation: headShake 1s ease-in-out;
}
.alert_div.pending{
    background-color:blue;
}
.alert_div.successful{
    background-color: green;
}

.navbar{
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    background-color: rgb(42, 87, 215);
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1100;
}


.section1{
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    align-items: center;
}

.section2{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile{
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
.profile span{
    color: #ffffff;
}
.profile h4{
    color: #ffffff;
}
._toggle_icon{
    color: #fff;
    font-size: 30px;
}

._profile_arrow_icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.profile_account {
    width: 300px;
    position: absolute;
    height: auto;
    top: 100%;
    background-color: rgb(42, 87, 215);
    animation: fadeIn ease-in-out 0.5s;
    right: 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    color: rgb(42, 87, 215);
    border: none;
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 1px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}
h3{
    font-weight:normal;
    font-size: 1.3rem;;
    letter-spacing: 2px;
    color: rgb(42, 87, 215);
}
.profile img{
    width: 50px;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.active_on{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    background-color: #fff;
    /* margin: 0 0 0 18rem; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}


.sidebar{
    width: 100%;
    width: 300px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid rgb(234, 232, 232);
    display: flex;
    background: #fff;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}
.sidebar-header{
width: 100%;
display: flex;
padding: 0.5rem;
color: rgb(42, 87, 215);
font-size: var(--extra-large-font);
justify-content: space-evenly;
align-items: center;
}
.sidebar-body{
width: 100%;
display: flex;
padding: 0.5rem;
color:rgb(42, 87, 215);
align-items: center;
}
.sidebar-body ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
border-radius: 4px;
cursor: pointer;
}

.sidebar-body ul li.active{
margin: 0.3rem 0;
padding: 0.9rem;
background-color: #f0f7ff;
width: 100%;
border-radius: 4px;
cursor: pointer;
}
.sidebar-body ul li{
margin: 0.3rem 0;
padding: 0.9rem;
background: none;
border-radius: 4px;
cursor: pointer;
}
.sidebar-footer{
 width: 300px;
display: flex;
padding: 0.5rem 0;
color:rgb(255, 255, 255);
justify-content:left;
height: auto !important;
flex-direction: column;
position: fixed;
bottom: 0;
background-color: rgb(42, 87, 215);;
align-items: left;
justify-content: center;
}
.sidebar-footer  .bi-person{
    font-size: var(--medium-font);
    color: var(--bg-color);
}
.sidebar-footer span{
    font-size: var(--medium-font);
    color: var(--bg-color);
}
 button{
    background-color: #ffc145;
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
}

.pending__transactions{
    display: flex;
    width: 100%;
}
.successful__transactions{
    display: flex;
    width: 100%;
}
.overall__transactions{
    display: flex;
    width: 100%;
    position: relative;
}
.overall_amount{
    width: auto;;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgb(42, 87, 215);;
}
.overall_amount h3{
    color: #fff;
    padding: 0.5rem;
}


  .patient_list_div {
    width: 100%;
    margin: 5.5rem 0 0 19rem;
}

 .search_bar_container {
    background-color: #fff;
    color:rgb(42, 87, 215);
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0.4em 0 0 0;
}
.search_bar_container h3 {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
.search_bar_container i{
    position: absolute;
    right: 1%;
    cursor: pointer;
}
.search_bar_container input {
        padding: 0.5em;
        color: rgb(42, 87, 215);
        font-size: 1.1rem;
         border: none;
          border-bottom: 1px solid rgb(42, 87, 215);
        outline: none;
}

 table {
    width: 100%;
    border-collapse: collapse;
    animation: fadeIn 1.2s ease-in-out;
}

 table thead {
    background-color: #fff; 
    position: sticky; 
    top: 0;
    z-index: 1; 
    background-color: #fff; 
    font-size: 1em;
    text-align: center;
}
table thead  td{
    color: rgb(42, 87, 215);
    padding: 0.5em;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    line-height: 1.2;
}
 table tbody td img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

 table tbody td {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(42, 87, 215);
    padding: .77em .58em .74em .58em;
    padding-right: 0.58em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 1rem;
    vertical-align: center;
    line-height: 1.2;
    border-bottom: 1px solid #fff;
}
.accept-btn{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    color: rgb(42, 87, 215);
    border-radius: 4px;
    transition: all ease-in-out 0.5s;
}
.reject-btn{
    background-color: rgb(255, 0, 0);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    transition: all ease-in-out 0.5s;
} 
.accept-btn:hover{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    background: none
} 
.reject-btn:hover{
    color:  rgb(255, 255, 255);
    border: 1px solid rgb(255, 0, 0);
    background: none
}
 .image{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.hide{
    display: none;
}