*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to top, rgba(0, 44, 101, 0.5), 50%, rgba(0, 44, 101, 0.5)50%), url(../Images/alexander-grey-uS5lTkVwSb0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}