*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height:100vh;
    background-image: url(../Images/26836.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 75px;
    background:linear-gradient(-12deg, rgb(42, 87, 215) 0px, rgb(42, 87, 215) 100%) !important;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    top: 0;
    z-index: 999;
    box-shadow: rgba(55, 54, 54, 0.35) 0px 5px 15px;
}

.section1{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: zoomIn 1s ease-in-out;
    align-items: center;
}
.section2{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: zoomIn 1s ease-in-out;
    justify-content: space-around;
    align-items: center;
}
.icons{
    color: #fff;
    font-size: 30px;
    width: 150px;
    display: flex;
    justify-content: center;;
    align-items: center;
    height: 100%;
}
#icon{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
#icon-drop{
    margin: 0 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    position: relative;
}
.notification1{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.notification2{
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
    border: 2px solid #fff;
}
.profile{
    width: 50%;
    height: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;;
}
.profile_account{
    width: 300px;
    position: absolute;
    background:linear-gradient(-12deg, rgb(42, 87, 215) 0px, rgb(42, 87, 215) 100%) !important;
    height: fit-content;
    top: 100%;
    animation: zoomIn 01s ease-in-out;
    right: 2%;
    padding: 1rem 1rem;
    box-shadow: rgba(55, 54, 54, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image_profile_account{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background:rgb(0, 158, 251);;
}
.profile_account .btn_submit{
    width: 100%;
    background-color: #fff;
    padding: 0.7rem;
    border: none;
    color: rgb(42, 87, 215);
    border-radius: 5px;
    transition: all  ease-in-out 0.6s;
    cursor: pointer;
    margin: 1rem 0;
}
.profile_account  .btn_submit:hover{
    transform: scale(0.98);
    background: none;
    color:rgb(255, 255, 255);
    border: 2px solid #fff;
}
.profile_account span{
    text-align: left;
    cursor: pointer;
}
.profile_account h3{
    color: rgb(255, 255, 255);
}

.profile img{
    width: 50px;
    margin: 0 0.8rem;
    border: 3px solid #fff;
    height: 50px;
    cursor: pointer;
    border-radius: 100%;
}
.image{
    position: relative;
}
.active{
    position: absolute;
    bottom: 5%;
    right: 15%;
    background-color: rgb(0, 193, 65);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
#btn_appoitment{
    padding: 0.7rem 1rem;
    border: none;
    background-color: #fff;
    margin: 0 7rem;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(42, 87, 215);
    font-size: 12px;
    transition: all ease-in-out 0.6s;
}
#btn_appoitment:hover{
    padding: 0.7rem 1rem;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transform: scale(0.98);
}


.sidebar{
    width: 75px;
    height: fit-content;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1000;
    background:rgb(42, 87, 215);
}
.sidebar_contents{
    justify-content: center;
    display: flex;
    align-items: center;
   color: #fff;
   height: 75px;
   cursor: pointer;
   text-align: center;
   border-bottom: 2px solid rgba(255, 255, 255);
}
.sidebar_icons{
    width: 100%;
    animation: zoomIn 01s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.sidebar_icons #icon{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 1rem 0;
}

.contents{
    width: 100%;
    height: 100vh;
    background-image: url(../Images/26836.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button_container{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button{
    background: none;
    border: 4px solid #fff;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    padding: 0.6rem;
    cursor: pointer;
    margin: 1rem 1rem;
    transition: all ease-in-out 0.5s;
    animation: zoomIn 01s ease-in-out;
}
button:hover{
    background-color:  rgb(42, 87, 215);
    border: 4px solid #fff;
    color: rgb(255, 255, 255);
    transition: all ease-in-out 0.5s; 
   
}
#btn{
    background: #0000;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
}
#btn:hover{
    background-color: #fff;
    border: 1px solid rgb(4 47 46);
    color: rgb(4 47 46);
    transition: all ease-in-out 0.5s; 
   
}
.hide{
    display: none;
}